.sets .cell
{
    display:table-cell;
    vertical-align:middle;
    text-align:left;
}
.sets .ao
{
    font-size:30px;
    font-weight: bold;
    color:#d5d9dc;
    padding:0 10px;
}
/*.sets h3*/
/*{*/
    /*color:#e04747;*/
    /*font-weight: bold;*/
    /*margin:15px 0;*/
    /*text-align: center;*/
/*}*/
.sets
{
    margin: 0 auto 20px;
    width:100%;
    padding:32px 0px 10px;
}
.sets .set .quantity
{
    position:absolute;
    right:0;
    top:0;
    padding:10px;
    background-color: #1cd129;
    color:white;
}
.slick
{
    background-color: #fff;
    padding: 24px 0;
    max-width: 100%;
    /*margin:0 auto;*/
}
.slick .slick-list{
    max-width: 660px;
    margin: auto;
}
.sets .set .set_table
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.sets .set
{
    width: 660px;
    padding: 0 3px;
}
.old_price,.old_summ
{
    text-decoration: line-through;
    color:#9b221f;
}
.new_price,.new_summ
{
    color: #3c3c3c;

}
.sets .old_summ
{
    font-size: 14px;
    line-height: 1;
    margin-bottom: 9px;
}
.sets .new_summ
{
    line-height: 1;
    font-size: 16px;
}
.sets .set-product
{
    /*padding:10px;*/
    /*border:1px solid #ddd;*/
    position: relative;
    max-width: 140px;
    height: 255px;
}
.sets .set-product .disc{
    display: none;
}
.sets .total
{
    text-align: center;
    max-width: 140px;
    width: 100%;
    position: relative;
    padding:140px 0px 0px;
    height: 255px;
    /*border:2px solid #1d9de7;*/
}
.sets .set-product .old_price
{
    display: block;
    font-size:14px;
}
.sets .set-product .new_price
{
    font-weight: bold;
    font-size: 16px;
}
.sets  .disc
{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:49px;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    line-height: 42px;
    background-color: #b32925;
    color:white;
}
.sets .add-set-btn
{
    margin-top:29px;
    background-image: none;
    min-width: 100%;
}
.img-responsive
{
    max-width:100%;
    margin: 0 auto;
}
@media screen and (max-width: 1200px) {
    .sets .set{
        padding: 0 60px;
    }
}
@media screen and (max-width: 768px) {
    .sets .cell
    {
        margin:0 auto;
        display:block;
    }
    .sets .ao
    {
        font-size:50px;
        margin:20px 0;
    }
}
@media screen and (max-width: 700px) {
    .slick .slick-list{
        height: auto!important;
    }
    .sets .set .set_table{
        flex-direction: column;
    }
    .sets .set-product{
        height: auto;
    }
    .sets .total{
        padding: 62px 0px 0px;
        height: auto;
    }
    .sets .disc{
        top: 0;
    }
}
.slick-prev:before, .slick-next:before { 
    color:#d5d9dc;
    opacity: 1;
    transition: color .3s ease;
}
.slick-prev:hover:before, .slick-next:hover:before{
    color:#3f3f3f;
}

@media screen and (max-width: 768px) {
    .slick-prev
    {
        left: 10px;
    }
    .slick-next
    {
        right: 10px;
    }
}

@media screen and (min-width: 767px) {

    .slick-prev:before, .slick-next:before{
        font-size:24px;
    }
    .slick-prev, .slick-next
    {
        width:40px;
        height:40px;
    }
    .slick-prev
    {
        left: 14px;
    }
    .slick-next
    {
        right: 14px;
    }
}