<h3><?php echo $heading_title; ?></h3>
<div class="row">
  <?php foreach ($products as $product) { ?>
      <?php $this->partial('product_item_module', array('product' => $product, 'button_cart' => $button_cart, 'text_tax' => $text_tax, 'button_wishlist' => $button_wishlist, 'button_compare' => $button_compare));?>

  <?php } ?>
</div>
<a class="btn-olt" href="<?php echo $link_hit; ?>"><span><?php echo $text_btn; ?></span></a>