@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?smqgvb');
  src:  url('fonts/icomoon.eot?smqgvb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?smqgvb') format('truetype'),
    url('fonts/icomoon.woff?smqgvb') format('woff'),
    url('fonts/icomoon.svg?smqgvb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-hover:before {
  content: "\e91b";
}
.icon-i-scale-hover:before {
  content: "\e916";
  color: #9b221f;
}
.icon-i-heart-hover:before {
  content: "\e919";
  color: #9b221f;
}
.icon-list-1:before {
  content: "\e91a";
  color: #fff;
}
.icon-i-person:before {
  content: "\e913";
  color: #d5d9dc;
}
.icon-i-filters:before {
  content: "\e911";
  color: #b32925;
}
.icon-cart:before {
  content: "\e922";
}
.icon-comparison:before {
  content: "\e923";
}
.icon-comparison:after {
  content: "\e916";
  color: #9b221f;
}
.icon-fb:before {
  content: "\e924";
}
.icon-insta:before {
  content: "\e925";
}
.icon-phone:before {
  content: "\e926";
}
.icon-yt:before {
  content: "\e927";
}
.icon-account:before {
  content: "\e928";
}
.icon-heart:before {
  content: "\e929";
}
.icon-heart:after {
  content: "\e919";
  color: #9b221f;
}
.icon-arrow:before {
  content: "\e92a";
}
.icon-arrow-up:before {
  content: "\e92b";
}
.icon-book:before {
  content: "\e92c";
}
.icon-icon-map:before {
  content: "\e900";
  color: #b32925;
}
.icon-icon-mail:before {
  content: "\e901";
  color: #b32925;
}
.icon-icon-4 .path1:before {
  content: "\e902";
  color: rgb(245, 246, 247);
}
.icon-icon-4 .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(155, 34, 31);
}
.icon-icon-4 .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-3 .path1:before {
  content: "\e905";
  color: rgb(245, 246, 247);
}
.icon-icon-3 .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(155, 34, 31);
}
.icon-icon-3 .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-2 .path1:before {
  content: "\e908";
  color: rgb(245, 246, 247);
}
.icon-icon-2 .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(155, 34, 31);
}
.icon-icon-2 .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-1 .path1:before {
  content: "\e90b";
  color: rgb(245, 246, 247);
}
.icon-icon-1 .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(155, 34, 31);
}
.icon-icon-1 .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon:before {
  content: "\e90e";
  color: #b32925;
}
.icon-cb-v:before {
  content: "\e90f";
  color: #fff;
}
.icon-i-next:before {
  content: "\e910";
  color: #9b221f;
}
.icon-i-glass:before {
  content: "\e912";
}
.icon-icon-share:before {
  content: "\e914";
  color: #9b221f;
}
.icon-icon-review:before {
  content: "\e915";
  color: #9b221f;
}
.icon-icon-tech:before {
  content: "\e917";
  color: #b32925;
}
.icon-i-sale:before {
  content: "\e918";
  color: #b32925;
}
.icon-plus:before {
  content: "\e800";
}
.icon-minus:before {
  content: "\e801";
}
.icon-cancel:before {
  content: "\e802";
}
