<?php if(!$is_ajax){ ?>
    <?php echo $header; ?>

    
    <div class="container">
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-md-9 col-sm-12'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?> _product_content"><?php echo $content_top; ?>
    <?php } ?>
        <?php if(!$is_ajax){ ?>
            <?php $this->partial('breadcrumbs', array('breadcrumbs' => $breadcrumbs));?>
        <?php } ?>
        <div class="" itemscope itemtype="http://schema.org/Product">
            <div class=" _product_content_popup">

        <h1 itemscope itemtype="http://schema.org/BreadcrumbList"><?php echo $heading_title; ?></h1>
                <div class="row">
        <?php if ($column_left || $column_right) { ?>
        <?php $class = 'col-md-7 col-sm-12'; ?>
        <?php } else { ?>
        <?php $class = 'col-md-8 col-sm-12'; ?>
        <?php } ?>
        <div class="<?php echo $class; ?>">

          <?php if ($thumb || $images) { ?>
            <div class="main_product_thumb">
              <?php if ($images) { ?>
                  <div class="aditional_thumb_list">
                      <?php foreach ($images as $image) { ?>
                          <div class="aditional_thumb"><a href="<?php echo $image['popup']; ?>" data-fancybox="gallery"  title="<?php echo $heading_title; ?>"> <img src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" /></a></div>
                      <?php } ?>
                      <?php if($video_iframe){ ?>
                          <div class="aditional_thumb" >
                              <div class="frame_wrapp" data-fancybox="gallery">
                                  <?php echo $video_iframe; ?>
                              </div>
                          </div>
                      <?php } ?>
                  </div>
              <?php } ?>
              <?php if ($thumb) { ?>
              <div class="main_thumb"><img src="<?php echo $thumb; ?>" data-large="<?php echo $thumb; ?>" itemprop="image"  title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" /><a href="<?php echo $popup; ?>" class="zoom_icon" data-fancybox="gallery" title="<?php echo $heading_title; ?>"><span class="icon-i-glass"></span></a>
                  <?php if($special) { ?>
                  <div class="sale_panel">
                      <div class="sale_timer">
                          <label>До кінця акції:</label>
                          <div class="timer_container"></div>
                      </div>
                      <div class="sale_procent"><div class="cont">-20%</div></div>
                  </div>
                  <script>
                      $(document).ready(function() {
                          var counter;
                          counter = $('.timer_container').FlipClock({
                              language: 'ru',
                              clockFace: 'HourlyCounter',
                          });
                          counter.setTime(<?php echo $time; ?>);
                          counter.setCountdown(true);
                          counter.start();
                      });
                  </script>
                  <?php } ?>
              </div>
              <?php } ?>
            </div>
          <?php } ?>
        </div>
        <?php if ($column_left || $column_right) { ?>
        <?php $class = 'col-md-5 col-sm-12'; ?>
        <?php } else { ?>
        <?php $class = 'col-md-4 col-sm-12'; ?>
        <?php } ?>
        <div class="<?php echo $class; ?>">
            <ul class="productinfo">
                <li><?php echo $text_model; ?> <span><?php echo $model; ?></span></li>
                <?php if(!empty($category_title)){ ?>
                    <li><?php echo $text_category; ?> <span><?php echo $category_title; ?></span></li>
                <?php } ?>
                <li><?php echo $text_stock; ?> <span><?php echo $stock_info; ?></span></li>
            </ul>

        <!--  conected_attribute  -->
            <?php if($conected_attribute){ ?>
                <div class="_conected_attributes">
                <?php foreach($conected_attribute as $key => $conected_attr){ ?>
                    
                       <div class="form-group">
                          <label class="control-label"><?php echo $conected_attr['name']; ?></label>
                          <div class="_conected_attribute">
                              
                            <?php foreach ($conected_attr['values'] as $attr_value) { ?>
                                <div class="radio">

                                      <?php if($conected_attr['product_connected_image']){ ?>
                                            <span class="_conected_attribute_element <?php if($attr_value['selected']){ ?>active<?php } ?>"><a class="_get_ajax_product_tempalate" data-href="<?=$attr_value['href']?>" href="<?=$attr_value['href']?>">
                                                <img src="<?=$attr_value['image']?>" title="<?=$attr_value['text']?>" />
                                            </a></span>
                                        <?php } else { ?>
                                            <span class="_conected_attribute_element <?php if($attr_value['selected']){ ?>active<?php } ?>"><a class="_get_ajax_product_tempalate"  data-href="<?=$attr_value['href']?>" href="<?=$attr_value['href']?>"><?=$attr_value['text']?></a></span>
                                        <?php } ?>

                                </div>
                            <?php } ?>
                            
                          </div>
                        </div>
                        
                <?php } ?>
                </div>
            <?php } ?>

        <!--  conected_attribute  -->
        <?php  if($options) { $class_hide='hide';}?>
          <?php if ($price) { ?>
          <ul class="list-unstyled <?php echo $class_hide ?>"  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="<?php echo $cur_cur_code ?>" />

            <?php if (!$special) { ?>
                <li>
                  <h2 content="<?php echo preg_replace('/\s+/', '', $raw_price); ?>" itemprop="price"><?php echo $price; ?></h2>
                </li>
            <?php } else { ?>
                <li><span style="text-decoration: line-through;"><?php echo $price; ?></span></li>
                <li>
                  <h2 content="<?php echo preg_replace('/\s+/', '', $raw_special); ?>" itemprop="price"><?php echo $special; ?></h2>
                </li>
            <?php } ?>
            <?php if ($tax) { ?>
                <li><?php echo $text_tax; ?> <?php echo $tax; ?></li>
            <?php } ?>
            <?php if ($points) { ?>
                <li><?php echo $text_points; ?> <?php echo $points; ?></li>
            <?php } ?>
            <?php if ($discounts) { ?>
                <li>
                  <hr>
                </li>
                <?php foreach ($discounts as $discount) { ?>
                    <li><?php echo $discount['quantity']; ?><?php echo $text_discount; ?><?php echo $discount['price']; ?></li>
                <?php } ?>
            <?php } ?>
          </ul>
          <?php } ?>
          <div id="product">
            <?php if ($options) { ?>
                <div class="product_options">
            <?php foreach ($options as $option) { ?>
            <?php if ($option['type'] == 'select') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <select name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                <?php if ($option_value['price']) { ?>
                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                <?php } ?>
                </option>
                <?php } ?>
              </select>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'radio') {?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php $k=0; foreach ($option['product_option_value'] as $option_value) { $k++; ?>
                    <?php if($k==1) {?>
                        <div class="radio">
                            <div class="radio_wrapp">
                                <input checked type="radio" id="radio_<?php echo $option_value['product_option_value_id']; ?>" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                                <label for="radio_<?php echo $option_value['product_option_value_id']; ?>">
                                <span class="label_text">
                                <?php echo $option_value['name']; ?>
                                </span>
                                    <?php if ($option_value['price']) { ?>
                                        <span class="label_value">
                                        <?php //echo $option_value['price_prefix']; ?>&nbsp;<?php echo $option_value['price']; ?>
                                </span>
                                    <?php } ?>
                                </label>
                            </div>
                        </div>
                    <?php } else{?>
                    <div class="radio">
                        <div class="radio_wrapp">
                            <input type="radio" id="radio_<?php echo $option_value['product_option_value_id']; ?>" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                            <label for="radio_<?php echo $option_value['product_option_value_id']; ?>">
                                <span class="label_text">
                                <?php echo $option_value['name']; ?>
                                </span>
                                <?php if ($option_value['price']) { ?>
                                <span class="label_value">
                                        <?php //echo $option_value['price_prefix']; ?>&nbsp;<?php echo $option_value['price']; ?>
                                </span>
                                <?php } ?>
                            </label>
                        </div>
                    </div>
                    <?php } ?>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'checkbox') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'image') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="radio">
                  <label>
                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'text') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'textarea') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"><?php echo $option['value']; ?></textarea>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'file') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <button type="button" id="button-upload<?php echo $option['product_option_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
              <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" id="input-option<?php echo $option['product_option_id']; ?>" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'date') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group date">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'datetime') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group datetime">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'time') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group time">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php } ?>
                </div>
            <?php } ?>
            <?php if ($recurrings) { ?>
            <hr>
            <h3><?php echo $text_payment_recurring ?></h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($recurrings as $recurring) { ?>
                <option value="<?php echo $recurring['recurring_id'] ?>"><?php echo $recurring['name'] ?></option>
                <?php } ?>
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            <?php } ?>
              <div class="flex_qty_btn">
                  <div class="control_product_group">
                      <div class="qty_text">Кількість:</div>
                      <div class="qty_wrapp">
                          <div class="qty_btn bnt_minus"></div>
                          <input type="number" name="quantity" data-min="<?php echo $minimum; ?>" value="<?php echo $minimum; ?>" size="2" id="input-quantity" />
                          <div class="qty_btn bnt_plus"></div>
                          <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
                      </div>
                      <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
                  </div>
                  <button data-toggle="modal" data-target=".bs-example-modal-sm" type="button" id="button-cart" data-loading-text="<?php echo $text_loading; ?>" class=""><span class="icon icon-bag"></span><?php echo $button_cart; ?></button>
              </div>


              <?php if ($minimum > 1) { ?>
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $text_minimum; ?></div>
            <?php } ?>
          </div>
        </div>

        <div class="col-sm-12">
            <div class="product_info_panel">
                <?php if ($review_status) { ?>
                <div class="rating_flex">
                    <div class="rating_wrapp">
                        <?php for ($i = 1; $i <= 5; $i++) { ?>
                            <?php if ($rating < $i) { ?>
                                <i class="fa fa-star"></i>
                            <?php } else { ?>
                                <i class="fa fa-star green"></i>
                            <?php } ?>
                        <?php } ?>
                    </div>
                        <div class="rating_count" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><?php echo $reviews; ?></div>
                        <?php if(!$is_ajax){ ?>
                            <div class="wrire_review" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><?php echo $text_write; ?></div>
                        <?php } ?>
                </div>
                <?php } ?>
                <div class="product_info_panel-right">
                    <div class="share">Поділитися</div>
                    <div class="share_buttons">
                        <div class="share_item facebook">
                            <a href="" onClick="openWin2();">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="share_item google">
                            <a href="https://plus.google.com/share?url=<?php echo $og_url; ?>" target="_blank">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div data-toggle="modal" data-target=".bs-example-modal-sm" class="compare" onclick="compare.add('<?php echo $product_id; ?>');"><span class="icon-comparison"></span></div>
                    <div data-toggle="modal" data-target=".bs-example-modal-sm" class="add_wishlist" onclick="wishlist.add('<?php echo $product_id; ?>');"><span class="icon-heart"></span></div>
                </div>
                <script>
                    $('.facebook a').click(function (e) {
                        e.preventDefault();
                    })
                    function openWin2() {
                        myWin=open("https://www.facebook.com/sharer.php?u=<?php echo $og_url; ?>","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
                    }
                </script>
            </div>
        </div>
                    <?php if(1){ ?>

                    <div class="col-sm-12">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-description" data-toggle="tab"><?php echo $tab_description; ?></a></li>
        <?php if ($attribute_groups) { ?>
            <li><a href="#tab-details" data-toggle="tab"><?php echo $tab_details; ?></a></li>
        <?php } ?>
        <?php if ($review_status) { ?>
            <li><a href="#tab-review" data-toggle="tab"><?php echo $tab_review; ?></a></li>
        <?php } ?>
        <?php if($video_iframe){ ?>
            <li><a href="#tab-video" data-toggle="tab"><?php echo $tab_video; ?></a></li>
        <?php } ?>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-description"  itemprop="description">
            <?php echo $description; ?>
        </div>
        <?php if($attribute_groups){ ?>
            <div class="tab-pane" id="tab-details">
                <div class="frame_wrapp">
                    <?php foreach ($attribute_groups as $attribute_group) { ?>
                        <div class="attr_group">
                            <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
                                <div class="attr_item">
                                    <div class="text"><?php echo $attribute['name']; ?>:&nbsp;</div>
                                    <div class="value"><?php echo $attribute['text']; ?></div>
                                </div>
                            <?php } ?>
                        </div>
                    <?php } ?>
                </div>
            </div>
        <?php } ?>

        <?php if($video_iframe){ ?>
            <div class="tab-pane" id="tab-video">
                <div class="frame_wrapp">
                    <?php echo $video_iframe; ?>
                </div>
            </div>
        <?php } ?>
        <?php if ($review_status) { ?>
            <div class="tab-pane" id="tab-review">
                <form class="form-horizontal white-style-form" id="form-review">
                    <div id="review"></div>
                    <h2><?php echo $text_write; ?></h2>
                    <?php if ($review_guest) { ?>
                        <div class="row">
                        <div class="clearfix">
                            <div class="col-sm-6">
                                <div class="form-group flex-row">
                                    <label class="control-label" for="input-name"><?php echo $entry_name; ?></label>
                                    <input type="text" name="name" value="" id="input-name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="c-reviewStars-input flex-row">
                                    <label class="control-label" ><?php echo $entry_rating; ?></label>
                                    <div class="reviewStars-input">
                                        <input type="radio" name="rating" id="star-5" value="5">
                                        <label for="star-5" class="star"> <i class="fa fa-star"></i></label>
                                        <input type="radio" name="rating" id="star-4" value="4">
                                        <label for="star-4" class="star"> <i class="fa fa-star"></i></label>
                                        <input type="radio" name="rating" id="star-3" value="3">
                                        <label for="star-3" class="star"> <i class="fa fa-star"></i></label>
                                        <input type="radio" name="rating" id="star-2" value="2">
                                        <label for="star-2" class="star"> <i class="fa fa-star"></i></label>
                                        <input type="radio" name="rating" id="star-1" value="1">
                                        <label for="star-1" class="star"> <i class="fa fa-star"></i></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="col-sm-12 flex-row">
                                <label class="control-label" for="input-review"><?php echo $entry_review; ?></label>
                                <textarea name="text" id="input-review" class="form-control"></textarea>
                            </div>
                        </div>
                        </div>
                        <?php echo $captcha; ?>
                        <div class="buttons clearfix">
                            <div class="pull-right">
                                <button type="button" id="button-review" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default orang"><?php echo $button_continue; ?></button>
                            </div>
                        </div>
                    <?php } else { ?>
                        <?php echo $text_login; ?>
                    <?php } ?>
                </form>
            </div>
        <?php } ?>
    </div>
</div>
                    <?php } ?>

                </div>
      </div>
      </div>


    </div>
  </div>
    <?php if(!$is_ajax){ ?>
        <div class="clearfix"></div>
      <?php if ($products) { ?>
      <h3><?php echo $text_related; ?></h3>
      <div class="row">
        <?php $i = 0; ?>
        <?php foreach ($products as $product) { ?>
            <?php $this->partial('product_item_module', array('product' => $product, 'button_cart' => $button_cart, 'text_tax' => $text_tax, 'button_wishlist' => $button_wishlist, 'button_compare' => $button_compare));?>
        <?php } ?>
      </div>
      <?php } ?>
      <?php if ($tags) { ?>
      <p><?php echo $text_tags; ?>
        <?php for ($i = 0; $i < count($tags); $i++) { ?>
        <?php if ($i < (count($tags) - 1)) { ?>
        <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>,
        <?php } else { ?>
        <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>
        <?php } ?>
        <?php } ?>
      </p>
      <?php } ?>
      <?php echo $content_bottom; ?>

    <?php echo $column_right; ?>
<?php } ?>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script>
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'number\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('#xx-tovars .modal-top').after('<div class="alert">' + json['success'] + '</div>');

                setTimeout(function () {
                    $('#cart a').html('<span id="cart-total" class="num-select">' + json['total'] + '</span>');
                }, 100);

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').attr('value', json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-success, .alert-danger').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled:true
		}
	});

});
//--></script>

 </div>

</div>
<?php if(!$is_ajax){ ?>
    <?php echo $footer; ?>
<?php } ?>
