body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-size: 68.8%;
}

body, td, th {
	font-family: Arial, Helvetica, sans-serif;
}
input:focus, select:focus, textarea:focus {
	background-color: #ffd;
}
* :focus, a:active {
	outline: none;
}

h1 {
	margin: 10px 0 5px 10px;
}


.print a {
	color: #FFF;
	font-size: 12px;
	padding: 6px 10px;
	background-color: #aaa588;
	text-decoration: none;
}

.print a:hover {
	background-color: #9A967B;
}

/* Print forms */

#print_layout h1 input {color: #025A8D; font-size: 20px; font-weight: bold; border:none; width: 100%;}
#print_layout .print {position: fixed; right: 20px; top: 15px; font-size: 13px;}
#print_layout .buyer input {font-size:12px; font-weight: bold; border:none; width: 100%; text-align: center;}
#print_layout table.hdr {border-collapse: collapse; width: 100%; border-top:2px solid #000;}
#print_layout table.hdr tr:first-child td {padding-top:12px;}
#print_layout table.hdr tr td {font-size:12px;}
#print_layout table.hdr tr.buyer td {padding:5px 0;}
#print_layout table.hdr tr td:first-child {padding-left:3px;}
#print_layout table.hdr tr td:last-child {font-weight:bold; padding-left:8px;}
#print_layout table.inv {border-collapse: collapse; width: 100%; border-top:2px solid #000;}
#print_layout table.inv .item td, #print_layout table.inv thead th {border:1px solid #000;}
#print_layout table.inv th:last-child,
#print_layout table.inv .item td:last-child {border-right:2px solid #000;}
#print_layout table.inv th:first-child, #print_layout table.inv .item td:first-child {border-left:2px solid #000;}
#print_layout table.inv .total td {padding-top:8px; font-size:13px;}
#print_layout table.inv .total.border-top td {    border-top: 2px solid #000;}
#print_layout table.inv .itog td {font-size:13px;}
#print_layout table.inv .prop td {padding:2px 0 8px; font-size:13px;}
#print_layout table.inv .footer {border-top: 2px solid #000;}
#print_layout table.inv .footer span {display: inline-block; min-width:40%; padding:12px 10px; font-size:13px; font-weight:bold;}
#print_layout table.inv .footer .col-right {padding: 0; text-align: right;}
#print_layout table.inv .footer .col-left {padding: 0; text-align: left}
#print_layout table.fl {font-size:12px; border-collapse: collapse;    margin: 2px;}
#print_layout table.fl .main {font-size:17px;}
#print_layout table.fl .b2all {border: 2px solid #000;}
#print_layout table.fl .b2top {border-top: 2px solid #000 !important;}
#print_layout table.fl .item td {border: 1px solid #000; padding:1px 5px;}
#print_layout table.fl .total td,
#print_layout table.fl .itog td,
#print_layout table.fl .prop td {padding:1px 5px;}
#print_layout table.fl .item td:first-child {border: none; border-right: 2px solid #000 !important;}
#print_layout table.fl .item td:last-child {border-right: 2px solid #000 !important;}
#print_layout table.fl th {height:25px;}
#print_layout table.fl .footer {display:none;}
#print_layout table.fl input#jform_title {border:none; font-size:16px; text-align:center; padding-bottom: 1px;}

@media print {
	#print_layout .print {display: none;}
}