@media (min-width: 1200px) {
  .panel-menu,body.active:before{
    display: none!important;
  }
}
@media (max-width: 1200px) and (min-width: 1025px) {
  .simple_cart .simple_item .price{
    order: 3;
    margin-top: 15px;
  }
  .simple_cart .simple_item .pqt{
    flex-wrap:wrap ;
  }
}
@media (max-width: 1200px) {

  .information-information .order-list li:before{
    display: none;
  }
  .product_info_panel{
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    .product_info_panel-right{
      margin-bottom: 15px;
    }
  }
  .main_product_thumb{
    max-width: 486px;
    margin: 0 auto 25px;
  }
  ._product_content_popup{
    .col-md-7,.col-md-5{
      width: 100% ;
    }
  }
  .information-contact form .block-form-inputs{
    flex-direction: column;
    div{
      width: 100%;
      input{
        width: 100%;
      }
    }
  }

  .information-information{
    .nav-tabs a{
          font-size: 16px;
        }
  }
  #top {
    margin-bottom: 50px;
  }
  .panel-menu-bottom{
    display: block;
  }
  .header-social{
    display: none;
  }
  .header-menu-btn{
    display: block;
  }
  .header{
    height: 50px;
  }
  .header-menu ul{
    display: none;
  }
  .box-news-list .box-news{
    margin-bottom: 20px;
  }
  .product-thumb .image{
    height: auto;
  }
  .col-md-none{
    display: none;
  }
}
@media (max-width: 992px) {
  .account-simpleregister .simple-content{
    width: 75%;
    min-width: 290px;
  }
  .col-sm-none{
    display: none;
  }
  .list-category nav ul{
    display: none;
  }
  .box-content.mfilter-content{
    display: none;
  }
}
@media (max-width: 767px) {
  .margin-b-15{
    margin-bottom: 15px;
  }
  .account-forgotten{
    .btn-default, .btn-primary {
      min-width: 130px;
    }
    .ct-center-6{
      max-width: 100%;
      width: 500px;
    }
  }
  .pagination{
    padding: 17px 50px 0;
  }
  .pagination > li.last a,.pagination > li.prev a{
    padding: 0;
    span{
      display: none;
    }
  }
  .pagination > li.last,.pagination > li.prev{
    width: 42px!important;
  }
  .account-simpleedit .simpleregister-block-content .form-group{
    width: 100%;
    align-items: flex-start;
    label{
      margin-bottom: 10px;
    }
  }
  .information-information .order-list li:last-child {
    margin-bottom: 20px;
  }
  .information-information .nav-tabs li
  {
    .tab-pane{
      display: none;
    }
    &.active{
      a{
        margin-bottom: 15px;
        background-color: #edf0f3;
        &:before {
          content: '';
          position: absolute;
          background-color: #9b221f;
          width: 100%;
          height: 3px;
          bottom: 1px;
          left: 0;
        }
      }
      .tab-pane{
        display: block;
      }
    }
  }
  .information-information .nav-tabs{
    display: flex;
    flex-direction: column;
    border: 0;
    li{
      width: 100%;
      padding-right: 0;
      a{
        background-color: #edf0f3;
        &:before {
          content: '';
          position: absolute;
          background-color: #ccc;
          width: 100%;
          height: 3px;
          bottom: 1px;
          left: 0;
        }
      }
    }
  }
  .product-page{
    .form-horizontal .form-group{
      margin-right: 0;
    }
    .c-reviewStars-input{
      margin-bottom: 15px;
    }
  }
  h3{
    font-size: 22px;
    //&:before,&:after{
    //  display: none;
    //}
  }
  .review-tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    li{
      width: 50%;
      padding: 0;
      a{
        text-align: center;
      }
    }
  }
  .white-style-form{
    .required{
      margin: 0 0 15px;
    }
  }
  .reviews__user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #eceded;
    &:before{
      display: none;
    }
    .container_margin{
      margin: 0;
    }
    .reviews__rating{
      margin: 0 10px;
    }
  }
  .information-contact form .block-form p{
    text-align: center;
    br{
      display: none;
    }
  }
  .information-contact form .block-form-btn input{
    margin: 0 auto 23px;
    display: block;
  }
  .page-contacts{
    flex-direction: column;
    .contacts-info{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .contacts-content{
      width: 100%;
      margin-bottom: 25px;
    }
    .contacts-map{
      width: 100%;
      #map{
        width: 100%;
      }
    }
  }
  .header-navigation_media{
    display: block;
  }
  .col-xs-none{
    display: none!important;
  }
  .img-list-category a{
    width: 264px;
    margin: auto;
    display: block;
  }
  .wrapper .sing-left{
    display: none;
  }
}
@media (max-width: 600px){
  .selectric .label{
    width: auto!important;
  }
  .product_info_panel .rating_flex{
    justify-content: center!important;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .rating_wrapp,.rating_count,.wrire_review{
    margin-bottom: 10px;
  }
  .main_product_thumb {
    align-items: center!important;
    flex-direction: column-reverse;
  }
  .main_product_thumb .main_thumb{
    width: 100%;
    max-width: 405px;
  }
  .main_product_thumb .aditional_thumb_list {
    flex-direction: row!important;
    align-items: flex-start!important;
    margin-right: 0px!important;
    flex-wrap: wrap;
    .aditional_thumb {
      margin: 0 4px!important;
    }
  }
  .product-special .option-block{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    .col-xs-6{
      width: 100%;
    }
  }
  .img-list-category .row .col-xs-6{
    width: 100%;
  }
  .box-news-list .box-news{
    width: 100%;
    max-width: 350px;
    margin: 0 auto 20px;
    float: none;
  }
}
@media (max-width: 550px){
  footer{
    padding: 35px 0;
  }
  footer .col-xs-6{
    width: 100%;
  }
  footer .footer-logo{
    img{
      margin: auto;
    }
  }
  footer .footer-powered{
    text-align: center;
    padding: 20px 0 30px;
  }
  footer h5{
    text-align: center;
  }
  footer .footer-subscription{
    justify-content: center;
  }
  footer .footer-social{
    margin-top: 15px;
    ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li{
        margin: 0 15px;
      }
    }
  }
}
@media (max-width: 500px) {
  .flex-row{
    flex-direction: column;

  }
  .simple_cart .simple_item{
    flex-direction: column;
    .image{
      margin-bottom: 10px;
    }
    .wrapp_cart_right{
      padding-left: 0;
      .pqt{
        flex-wrap: wrap;
        .wrapper-grey{
          margin-right: 0!important;
          width: 100%!important;
          margin-bottom: 15px;
        }
      }
    }
  }
  .simplecheckout-block-content{
    .form-horizontal .form-group{
      flex-direction: column;
      align-items: flex-start;
      label{
        margin-bottom: 10px;
      }
    }
  }
  .white-style-form{
    .required,.c-reviewStars-input{
     display: flex;
      flex-direction: column;
    }
  }
  .reviews__user{
    flex-direction: column;
    align-items: flex-start;
    .reviews__rating {
      margin: 15px 0;
    }
  }
  .information-contact form .block-form-inputs div{
    display: flex;
    flex-direction: column;
  }
  .information-contact form .block-form-textarea{
    flex-direction: column;
  }
  .header-phone-media{
    display: block;
  }
  .top-bar-logo{
    max-width: 100px;
  }
  .top-bar-search{
    margin-left: 15px;
  }
  .header-phone span.icon-arrow{
    display: none;
  }
  .top-bar-navigation a,.header-menu-btn {
    font-size: 25px;
  }
  .header-phone-nav{
    width: 196px;
    right: 0;
  }
  .header-phone{
    width: auto;
    a{
      display: none;
    }
    ul{
      li{
        a{
          display: block;
        }
      }
    }
  }
  .product-layout{
    width: 100%!important;
    .product-thumb{
      width: 290px;
      margin: 0 auto 32px;
    }
  }

}
