@charset "UTF-8";
.breadcrumb {
  background-color: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #eceded;
  padding: 0px 0px 23px 0px;
  margin-bottom: 25px; }
  .breadcrumb li {
    position: relative;
    font-size: 14px;
    color: #3c3c3c;
    padding: 0px 30px 0px 0px; }
    .breadcrumb li:after {
      content: '→';
      border: 0px;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      width: auto;
      height: auto;
      font-family: ''; }
    .breadcrumb li:last-child:after {
      display: none; }
    .breadcrumb li:before {
      display: none; }
  .breadcrumb a {
    font-weight: bold;
    color: #405395; }

.filter_heading {
  text-transform: uppercase;
  color: #3f3f3f;
  font-size: 14px;
  background-color: #edf0f3;
  height: 46px;
  line-height: 46px;
  font-weight: bold;
  padding-left: 47px;
  padding-right: 50px;
  border-bottom: 3px solid #f65314;
  position: relative; }
  .filter_heading span.icon-i-filters {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    font-size: 18px;
    position: absolute; }
  .filter_heading .icon-arrow-up {
    position: absolute;
    right: 13px;
    display: block;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: all .3s ease;
    cursor: pointer; }
    .filter_heading .icon-arrow-up.active {
      transform: translateY(-50%) rotate(0deg); }

.wrapp_checbox input {
  display: none; }
  .wrapp_checbox input:checked + label:before {
    background-color: #9b221f;
    background-color: #9b221f; }
.wrapp_checbox label {
  position: relative;
  padding: 2px 0px 2px 25px;
  font-size: 14px;
  font-weight: bold;
  color: #3f3f3f;
  cursor: pointer;
  margin-bottom: 2px; }
  .wrapp_checbox label:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border: solid 1px #dde1e5;
    left: 0px;
    top: 2px;
    transition: 0.2s ease all; }
  .wrapp_checbox label:after {
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    color: white;
    font-size: 10px;
    left: 4px;
    top: 1px; }

.sort_panel {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }

.sort_wrapp {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px; }
  .sort_wrapp label {
    margin: 0px;
    margin-right: 8px;
    color: #3c3c3c;
    font-weight: bold; }
  .sort_wrapp .wrapp_select select {
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    color: #405395;
    box-shadow: none;
    font-weight: bold;
    padding: 5px 10px 5px 0px; }

#mfilter-price-slider .ui-slider-handle::before {
  content: attr(data-val);
  display: block;
  position: absolute;
  top: -25px;
  left: 50%;
  width: inherit;
  transform: translateX(-50%);
  right: 0;
  margin: 0 auto;
  font-size: 12px;
  color: #3f3f3f;
  text-align: center; }

._product_content_popup {
  background-color: white;
  padding: 20px 20px; }
  ._product_content_popup h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2.4px;
    color: #3f3f3f;
    border-bottom: 1px solid #eceded;
    text-transform: uppercase;
    margin: 0px 0px 25px 0px;
    padding-bottom: 20px; }
  ._product_content_popup #form-review {
    padding: 0px; }

.main_product_thumb {
  display: flex;
  align-items: flex-start; }
  .main_product_thumb .aditional_thumb_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 7px; }
    .main_product_thumb .aditional_thumb_list .aditional_thumb {
      margin-bottom: 7px; }
  .main_product_thumb .main_thumb {
    flex: 1 1 auto;
    position: relative; }
    .main_product_thumb .main_thumb img {
      width: 100%; }
  .main_product_thumb img {
    max-width: 100%; }
  .main_product_thumb .zoom_icon {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    display: block;
    background-color: rgba(0, 0, 0, 0.61); }
    .main_product_thumb .zoom_icon .icon-i-glass {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 16px; }

._conected_attribute {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }
  ._conected_attribute .radio {
    margin: 0px 10px 10px 0px;
    font-weight: bold; }
    ._conected_attribute .radio ._conected_attribute_element.active a {
      border: 2px solid #9b221f; }
    ._conected_attribute .radio a {
      padding: 1px;
      border: 2px solid transparent;
      display: block;
      color: #3c3c3c; }
  ._conected_attribute img {
    max-width: 100%; }

.productinfo {
  padding: 0px;
  list-style: none;
  margin: 0px;
  border-bottom: 1px solid #eceded;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .productinfo li {
    color: #3c3c3c; }
    .productinfo li span {
      font-weight: bold; }

.product_options .control-label {
  display: none; }
.product_options .radio_wrapp input {
  display: none; }
  .product_options .radio_wrapp input:checked + label:after {
    opacity: 1; }
.product_options .radio_wrapp label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #3c3c3c;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .product_options .radio_wrapp label:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #dde1e5;
    border-radius: 50%; }
  .product_options .radio_wrapp label:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #9b221f;
    border-radius: 50%;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.flex_qty_btn {
  display: flex;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #dde1e5;
  margin-bottom: 15px; }

#button-cart {
  background-color: #f65314;
  border: 0px;
  flex: 1 1 auto;
  height: 54px;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: background-color .3s ease; }
  #button-cart:hover {
    background-color: #3c3c3c; }

.control_product_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px; }
  .control_product_group .qty_wrapp {
    border: 1px solid #dde1e5;
    border-radius: 4px;
    display: flex;
    align-items: center; }
    .control_product_group .qty_wrapp .qty_btn {
      width: 25px;
      height: 36px;
      position: relative;
      display: block;
      cursor: pointer; }
      .control_product_group .qty_wrapp .qty_btn:after {
        position: absolute;
        left: 50%;
        top: 50%;
        font-weight: bold;
        font-size: 22px;
        transform: translate(-50%, -50%);
        color: #3c3c3c; }
      .control_product_group .qty_wrapp .qty_btn.bnt_minus:after {
        content: '-'; }
      .control_product_group .qty_wrapp .qty_btn.bnt_plus:after {
        content: '+'; }
    .control_product_group .qty_wrapp input {
      border: 0px;
      box-shadow: none;
      width: 40px;
      height: 36px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #3c3c3c; }

.product_info_panel {
  background: #f5f6f7;
  border-radius: 4px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 25px; }
  .product_info_panel .rating_flex {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .product_info_panel .rating_wrapp {
    margin-right: 25px;
    margin-top: 4px; }
    .product_info_panel .rating_wrapp .fa {
      margin: 0px 1px;
      font-size: 16px; }
      .product_info_panel .rating_wrapp .fa.green {
        color: #56b33d; }
  .product_info_panel .rating_count {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: #405395; }
  .product_info_panel .wrire_review {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: #405395;
    position: relative;
    padding-left: 20px;
    margin: 0px 20px;
    cursor: pointer; }
    .product_info_panel .wrire_review:before {
      content: '\e915';
      font-family: icomoon;
      position: absolute;
      left: 0px;
      font-size: 12px;
      color: #9b221f; }
  .product_info_panel .icon-comparison {
    color: #9b221f;
    font-size: 28px; }
  .product_info_panel .icon-heart {
    color: #9b221f;
    font-size: 28px; }
  .product_info_panel .share {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: #405395;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    margin: 0px 20px; }
    .product_info_panel .share:before {
      content: '\e914';
      font-family: icomoon;
      position: absolute;
      left: 0px;
      font-size: 12px;
      color: #9b221f; }
  .product_info_panel .share_buttons {
    display: none;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease all; }
    .product_info_panel .share_buttons.active {
      display: flex;
      opacity: 1; }
    .product_info_panel .share_buttons .share_item {
      padding: 0px 10px; }
      .product_info_panel .share_buttons .share_item a {
        display: inline-block;
        min-width: 30px;
        text-align: center; }
      .product_info_panel .share_buttons .share_item .fa {
        color: #9b221f;
        font-size: 26px; }
  .product_info_panel .compare {
    padding: 0px 15px;
    cursor: pointer; }
    .product_info_panel .compare:hover span:before {
      display: none; }
    .product_info_panel .compare:hover span:after {
      display: block; }
  .product_info_panel .add_wishlist {
    padding: 0px 15px;
    cursor: pointer; }
    .product_info_panel .add_wishlist:hover span:before {
      display: none; }
    .product_info_panel .add_wishlist:hover span:after {
      display: block; }

.frame_wrapp {
  width: 100%;
  padding-bottom: 57%;
  position: relative; }
  .frame_wrapp iframe {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%; }

.attr_group {
  display: flex;
  flex-direction: column; }
  .attr_group .attr_item {
    display: flex;
    font-size: 14px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
    margin-bottom: 8px; }
  .attr_group .value {
    font-weight: bold; }

.sale_panel {
  height: 38px;
  width: 100%;
  background: rgba(0, 0, 0, 0.38);
  padding: 4px 8px 0px 8px;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px; }
  .sale_panel .sale_timer {
    display: flex;
    align-items: center; }
    .sale_panel .sale_timer label {
      font-size: 10px;
      letter-spacing: 0.1px;
      color: #ffffff;
      white-space: nowrap;
      margin: 0px;
      margin-right: 8px; }
  .sale_panel .sale_procent {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    bottom: 5px; }
    .sale_panel .sale_procent .cont {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.1px;
      text-align: center;
      color: #ffffff;
      width: 40px;
      height: 30px;
      box-sizing: content-box;
      padding-top: 10px;
      background-color: #f65314;
      border-radius: 50%; }

.flip-clock-divider {
  height: 25px;
  width: 10px; }
  .flip-clock-divider .flip-clock-label {
    display: none; }
  .flip-clock-divider .flip-clock-dot {
    width: 2px;
    height: 2px;
    left: 50%;
    box-shadow: none;
    background: white;
    transform: translateX(-50%); }
    .flip-clock-divider .flip-clock-dot.top {
      top: 9px; }
    .flip-clock-divider .flip-clock-dot.bottom {
      bottom: 9px; }

.flip-clock-wrapper {
  margin: 0px; }

.flip-clock-wrapper .down {
  display: none; }

.flip-clock-wrapper .inn {
  background-color: transparent !important;
  text-shadow: none !important;
  color: white !important;
  font-size: 16px !important;
  position: static !important; }

.flip-clock-wrapper .flip {
  background-color: transparent;
  box-shadow: none;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px; }

.flip-clock-wrapper ul li {
  position: static !important; }

.flip-clock-wrapper .up {
  height: 100%;
  position: static !important; }
  .flip-clock-wrapper .up:after {
    display: none; }

.flip-clock-wrapper .shadow {
  display: none; }

.flip-clock-wrapper .flip-clock-before {
  display: none; }

/*# sourceMappingURL=sergo.css.map */
