$orang-h : #fda700;

body{
  background-color: #f5f6f7;
  &.active {
    overflow-y: hidden;
    &:before{
      width: 100%;
      height: 100%;
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10000;
      background-color: rgba(0, 0, 0, 0.35);
    }
  }
}
input,button{
  outline: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-content{
  border-radius: 0;
  .alert{
    border-radius: 0;
    font-size: 14px;
    line-height: 20px;
    i{
      margin: 0 5px;
      color: #b32925;
      font-size: 20px;
    }
    a{
      color: #b32925;
      transition: color .3s ease;
      &:hover{
        color: $orang-h;
      }
    }
  }
}
.margin-input{
  margin-bottom: 15px;
}
.icon-comparison:after,.icon-heart:after{
  display: none;
}
.icon-fb:before {
  color: #fff;
  font-size: 20px;
}
.icon-insta:before {
  color: #fff;
  font-size: 16px;
}
.icon-phone:before {
  color: #fff;
  font-size: 16px;
}
.icon-yt:before {
  color: #fff;
  font-size: 21px;
}
.icon-arrow-up:before {
  color: #D5D9DC;
  font-size: 24px;
}
.icon-book:before {
  color: #b32925;
}
.btn-wishlist-close{
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  color: #fff;
  transition: all .3s ease;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  &:hover{
    color:#fff;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

//TOP-BAR
#top{
  background-color: #fff;
  margin-bottom: 59px;
}
.top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  &-logo{
    max-width: 153px;
    max-height: 48px;
    width: 100%;
  }
  &-search{
    max-width: 558px;
    width: 100%;
    position: relative;
    margin-left: 70px;
    font-weight: bold;
    height: 36px;
    input{
      height: 100%;
      width: 100%;
      border-radius: 18px;
      background-color: #edf0f3;
      border: 0;
      padding-left: 25px;
      box-shadow: none;
      font-size: 14px;
      outline:0;
      &:focus,&:active{
        outline: 0;
      }
    }
    button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 34px;
      padding: 0 15px;
      right: -1px;
      border: 0;
      background-color: #edf0f3;
      border-radius: 0 18px 18px 0;
      transition: background-color .3s ease;
      &:hover{
        background-color: #fff;
      }
    }
  }
  &-navigation{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    .num-select{
      position: absolute;
      color: #fff;
      font-family: 'PT Sans', sans-serif;
      font-size: 10px;
      font-weight: bold;
      width: 15px;
      height: 15px;
      display: block;
      text-align: center;
      line-height: 15px;
      border-radius: 50%;
      right: -7px;
      bottom: 3px;
      background-color: #f65314;
    }
    svg{
      width: 100%;
      height: 100%;
      path{
        transition: stroke .2s ease;
      }
      &:hover path{
        stroke:#b32925;
      }
    }
    a{
      display: block;
      font-size: 30px;
      color: #3C3C3C;
      text-decoration: none;
      transition: color .3s ease;
      &:hover{
        color: $orang-h;
      }
      &:after{
        display: none;
      }
    }
  }
  &-like{
    margin: 0 14px;
  }
  &-comparison{
    margin: 0 14px;
  }
  &-cart{
    margin: 0 14px;
    position: relative;
    //button{
    //  display: block;
    //  font-size: 31px;
    //  background-color: transparent;
    //  border: 0;
    //  color: #3C3C3C;
    //  transition: color .3s ease;
    //  &:hover{
    //    color: #b32925;
    //  }
    //}
  }
  &-account{
    margin: 0 0 0 14px;
  }

}


.panel-menu {
  background-color: #fff;
  position: fixed;
  height: 100%;
  width: 320px;
  z-index: 999999999;
  left: -320px;
  overflow-y: auto;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  &.active{
    left: 0;
  }
  &-list{
    ul{
      padding: 25px 0;
      margin-bottom: 0;
      list-style: none;
      li{
        a{
          transition: background-color .3s ease;
          padding-left: 25px;
          padding: 5px 0 5px 25px;
          display: block;
          color: #3f3f3f;
          font-size: 20px;
          &:hover{
            background-color: #fff4df;
          }
        }
      }
    }
  }
  &-top{
    height: 40px;
    border-bottom: 1px solid rgba(63, 63, 63, 0.45);
  }
  &-bottom{
    display: none;
    border-top: 1px solid rgba(63, 63, 63, 0.45);
    ul{
      height: 80px;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li{
        margin: 0 20px;
        a{
          &:before{
            color: #3f3f3f;
          }
        }
      }
    }
  }
  &-close{
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s ease;
    &:hover{
      background-color: #fff4df;
    }
    i{
      line-height: 39px;
      font-size: 25px;

    }
  }
}



//Header
header{
  position: fixed;
  z-index: 10;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #b32925;
}
.header{
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &-navigation_media{
    display: none;
  }
  .top-bar-navigation a{
      color: #fff ;
    &:after{
      display: none;
    }
  }
  &-menu{
    &-btn{
      font-size: 30px;
      display: none;
      cursor: pointer;
      &:before{
        transition: color .3s ease;
      }
      &:hover:before{
        color: $orang-h;
      }
    }
    ul{
      margin: 0 0 0 -12px;
      padding: 0;
      height: 100%;
      li{
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        margin: 0 12px;
        height: 100%;
        position: relative;
        &:after{
          content: '';
          height: 4px;
          width: 0;
          position: absolute;
          bottom: -19px;
          left: 50%;
          transform: translateX(-50%);
          background-color: #fff;
        }
        &.active:after{
          width: 100%;
        }
        a{
          color: #fff;
          transition: color .3s ease;
          &:hover{
            color: $orang-h;
          }
        }
      }
    }
  }
  &-social{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        margin: 0 23px;
        a:before{
          transition: color .3s ease;
        }
        a:hover:before{
          color: $orang-h;
        }
      }
    }
  }
  &-phone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 196px;
    height: 100%;
    width: 100%;
    &-media{
      display: none;
    }
    &:hover,&.active{
      background-color: #9b221f;
    }
    &-nav{
      display: none;
      z-index: 10;
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      width: 100%;
    }
    ul{
      padding: 0;
      margin: 0;
      width: 100%;
      list-style: none;
      li{
        width: 100%;
        margin-top: 2px;
        background-color: #9b221f;
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
    a{
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      transition: color .3s ease;
      display: block;
      width: 100%;
      letter-spacing: -0.2px;
      &:hover{
        color: $orang-h;
      }
      &:focus{
        color: #fff;
      }
    }
    span{
      &.icon-arrow{
        color: #fff;
        margin: 0 3px;
        padding: 10px;
        cursor: pointer;
        font-size: 10px;
        transform: rotate(180deg);
        transition: all .3s ease;
        &.active{
          transform: rotate(0deg);
        }
        &:hover{
          color: $orang-h;
        }
        &:focus,&:active{
          color: #fff;
        }
      }
      &.icon-phone{
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
}

//Wrapper
.wrapper{
  background-color: #f5f6f7;
  position: relative;

  .sing-left{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 624px;
    height: 624px;
    background-image: url(../image/sing-left.jpg);
    z-index: 1;
  }
  .sing-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 624px;
    height: 624px;
    background-image: url(../image/sing-right.jpg);
    z-index: 1;
  }
  .container{
    z-index: 2;
    position: relative;
  }
  &-top{
    padding: 30px 0;
    position: relative;
  }
  &-bottom{
    z-index: 2;
    position: relative;
    background-color: #fff;
    padding: 50px 0 62px;
  }

}


//List-Category
.list-category{
  &-title{
    text-transform: uppercase;
    color: #3f3f3f;
    font-size: 14px;
    background-color: #edf0f3;
    height: 46px;
    line-height: 46px;
    font-weight: bold;
    padding-left: 47px;
    padding-right: 50px;
    border-bottom: 3px solid #f65314;
    position: relative;
    span{
      display: none;
    }
    span.icon-arrow-up{
      position: absolute;
      right: 13px;
      display: block;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      transition: all .3s ease;
      cursor: pointer;
      &:before{
        transition: color .3s ease;
      }
      &:hover:before{
        color: #f3b5a0;
      }
      &.active{
        transform: translateY(-50%) rotate(0deg);
      }
    }
    span.icon-book{
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      font-size: 18px;
      position: absolute;
    }
    span.icon-icon-tech{
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      font-size: 18px;
      position: absolute;
    }
  }
  nav{
    //display: none;
    margin-bottom: 27px;
    ul{
      list-style: none;
      padding: 0;
      &.list-lvl{
        display: none;
        margin-left: 15px;
        margin-bottom: 0;
        li{
          padding-right: 0!important;
          a{
            font-size: 12px;
            font-weight: normal;
            padding: 5px 0 5px 5px;
          }
          .icon-arrow{
            right: -25px;
            top: 4px;
          }
        }
        &.active{
          display: block;
        }
      }
    }
    li{
      background-color: #fff;
      margin-top: 1px;
      padding-right: 37px;
      position: relative;
      &.active > a{
          color: #f65314;
        }
      span.icon-arrow{
        top: 14px;
        transition: all .3s ease;
        transform: rotate(90deg);
        right: 12px;
        color: #f65314;
        font-size: 14px;
        position: absolute;
        cursor: pointer;
        &.active{
          transform: rotate(180deg);
        }
      }
    }
    a{
      color: #000;
      position: relative;
      display: block;
      line-height: 14px;
      padding: 13px 0 13px 13px;
      font-size: 14px;
      font-weight: bold;
      transition: all .3s ease;
      color: #3f3f3f;
      img{
        height: 16px;
        width: 15px;
        display: inline-block;
        margin-right: 10px;
      }
      span{
        margin-left: 12px;
        color: #949494;
        font-size: 12px;
      }
      &:hover{
        color: #f65314;
      }
    }
  }
}

//Title-H3
h3{
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  color: #3f3f3f;
  margin: 30px auto ;
  width: -moz-max-content;
  display: block;
  width: auto;
  max-width: max-content;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: -24px;
    top:50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: #3f3f3f;
  }
  &:after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: -23px;
    top:50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: #3f3f3f;
  }
}

//Slider-Show
.slidershow{
  position: relative;
  padding-bottom: 20px;
  .item{
    height: 360px;
    img{
      height:100%;
    }
    .btn-a{
      color: #fff;
      font-size: 14px;
      position: absolute;
      border-radius: 10em;
      bottom: 60px;
      margin-left: 54px;
      font-weight: bold;
      background-color: transparent;
      width: 212px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      overflow: hidden;
      span {
        position: relative;
        z-index: 2;
      }
      &:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        background-color: #f65314;
        right: -20px;
        width: 140%;
      }
      &:after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        background-color: #3d3d3d;
        left:  -20px;
        width: 0%;
      }
      &:hover{
        color: #fff;
        &:after {
          width: 140%;
        }
      }
    }
  }
  .slick-dots{
    position: absolute;
    list-style: none;
    font-size: 0;
    padding: 0;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    li{
      display: inline-block;
      margin: 0 9px;
      &.slick-active button{
      &:before {
        background-color: #fff;
      }
        &:after{
          background-color: transparent!important;
        }
      }
      button{
        background-color: transparent;
        border: 0;
        position: relative;
        &:after{
          transition: background-color .3s ease;
          content: '';
          top: 50%;
          left: 50%;
          border-radius: 50%;
          transform: translate(-50%,-50%);
          width: 8px;
          height: 8px;
          position: absolute;
          background-color: rgba(255, 255, 255, 0.5);
        }
        &:before{
          transition: background-color .3s ease;
          content: '';
          top: 50%;
          left: 50%;
          border-radius: 50%;
          transform: translate(-50%,-50%);
          width: 12px;
          height: 12px;
          position: absolute;
        }
        &:hover:after{
          background-color: #3d3d3d;
        }
      }
    }
  }
}

//Product-item-module
.button-group{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px 0 15px;
  margin-bottom: 17px;
  &.popup-purchase-button{
    display: none;
  }
  .btn-add{
    background-color: #f65314;
    width: 138px;
    padding: 0;
    position: relative;
    height: 42px;
    color: #fff;
    border-radius: 10em;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
    span {
      position: relative;
      z-index: 2;
    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
      -o-transform: skew(-45deg);
      transform: skew(-45deg);
      -webkit-transition: width .3s ease-in-out;
      -o-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      background-color: #f65314;
      right: -20px;
      width: 140%;
      height: 100%;
    }
    &:after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
      -o-transform: skew(-45deg);
      transform: skew(-45deg);
      -webkit-transition: width .3s ease-in-out;
      -o-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      background-color: #3d3d3d;
      left:  -20px;
      width: 0%;
      height: 100%;
    }
    &:hover{
      color: #fff;
      &:after {
        width: 140%;
      }
    }
  }
  .btn-icon{
    background-color: transparent;
    border: 0;
    font-size: 30px;
    i{
      color: #9b221f;
      &:before{
        transition: color .3s ease;
      }
      &.icon-heart{
        font-size: 26px;
        &:after{
          display: none;
        }
      }
      &.icon-comparison{
        font-size: 30px;
        &:after{
          display: none;
        }
      }
    }
    &:hover i{
      &:before{
        display: none;
      }
      &:after{
        display: block;
      }
    }
  }
}

//box-news-list
.box-news-list{
  padding-top: 6px;
  .box-news{
    &-img{
      overflow: hidden;
      width: 100%;
      //height: 168px;
      margin-bottom: 25px;
      img{
        width: 100%;
        height: 100%;
        -webkit-transform: scale(1,1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 300ms;
        -moz-transform: scale(1,1);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 300ms;
        &:hover{
          -webkit-transform: scale(1.2,1.2);
          -webkit-transition-timing-function: ease-out;
          -webkit-transition-duration: 300ms;
          -moz-transform: scale(1.2,1.2);
          -moz-transition-timing-function: ease-out;
          -moz-transition-duration: 300ms;
        }
      }
    }
    &-name{
      height: 42px;
      a{
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1px;
        color: #3f3f3f;
        transition: color .3s ease;
        &:hover{
          color: #f65314;
        }
      }
      margin-bottom: 15px;
    }
    &-description{
      font-size: 12px;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3f3f3f;
    }
  }
}

//Footer
footer{
  padding-top: 42px;
  padding-bottom: 67px;
  h5{
    margin-top: 0;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  ul{
    li{
      margin-bottom: 19px;
      font-size: 11px;
      line-height: 11px;
      a{
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: left;
        color: #eca7a5;
        &:hover{
          color: $orang-h;
        }
      }
    }
  }
  .footer-subscription{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    input{
      width: 218px;
      height: 36px;
      font-weight: bold;
      color: #fff;
      color: #3c3c3c;
      border: 0;
      border-radius: 10em;
      font-size: 11px;
      padding-left: 20px;
      margin-right: 18px;
    }
    button{
      background: transparent;
      padding: 0;
      border: 0;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      .sircle{
        transition: fill .3s ease;
      }
      &:hover .sircle{
        fill:#3d3d3d;
      }
    }
  }
  .footer-logo{
    text-align: left;
  }
  .footer-social{
    margin-top: 44px;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li{
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 0;
      a:before{
        color: #eca7a5;
        transition: color .3s ease;
      }
      &:hover a:before{
        color: $orang-h;
      }
    }
  }
  .footer-powered{
    font-size: 12px;
    font-weight: bold;
    padding-left: 17px;
    padding-top: 67px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
  }
}

//btn-olt
.btn-olt{
  display: block;
  margin: auto;
  width: 132px;
  height: 42px;
  border-radius: 10em;
  text-align: center;
  line-height: 39px;
  font-size: 14px;
  font-weight: bold;
  color: #3c3c3c;
  letter-spacing: 0.1px;
  background-color: #3c3c3c;
  border: solid 2px #3c3c3c;
  margin-bottom: 48px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
  position: relative;
  span {
    position: relative;
    z-index: 2;
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    background-color: #f5f6f7;
    right: -20px;
    width: 140%;
  }
  &:hover{
    color: #fff;
    &:before {
      width: 0%;
    }
  }
}

//lines
.lines{
  width: 100%;
  padding-top: 12px;
  height: 1px;
  padding-bottom: 30px;
  display: block;
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eceded;
  }
}

//img-list-category
.img-list-category{
  span{
    display: none;
  }
  .title{
    color: #3f3f3f;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  .block-img{
    margin-bottom: 16px;
    overflow: hidden;
    img{
      -webkit-transform: scale(1,1);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 300ms;
      -moz-transform: scale(1,1);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 300ms;
    }
  }
  a{
    color: #405395;
    transition: color .3s ease;
    &:hover{
      color: #f65314;
      img{
        -webkit-transform: scale(1.2,1.2);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 300ms;
        -moz-transform: scale(1.2,1.2);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 300ms;
      }
    }
  }
  p{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 47px;

  }
}

//error-404
.error-not_found{
  .sing-right,header,#top{
    display: none;
  }
  .wrapper-top{
    padding-top: 0;
  }
  footer{
    border: 0;
  }
}
.error-404{
  background-color: #e2514d;
  height: 1080px;
  text-align: center;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo{
    margin-top: 62px;
    margin-bottom: 136px;
  }
  &__img-bg{
    width: 633px;
    height: 243px;
    background-size: contain;
    background-image: url(../image/error-404.png);
    margin-bottom: 47px;
  }
  h1{
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
  }
  p{
    margin-bottom: 58px;
    line-height: 1;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
  }
  &__btn{
    a{
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      width: 164px;
      height: 54px;
      border-radius: 27px;
      display: block;
      line-height: 54px;
      color: #f65314;
      position: relative;
      transition: all .3s ease;
      overflow: hidden;
      &:hover{
        color: #fff;
        &:after {
          width: 140%;
        }
      }
      span {
        position: relative;
        z-index: 2;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        transform: skew(-45deg);
        transition: width .3s ease-in-out;
        background-color: #fff;
        right: -20px;
        width: 140%;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        background-color: #3d3d3d;
        left: -20px;
        width: 0%;
      }
    }
  }
}

.information-contact{
  h1,legend{
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 20px;
    margin-bottom: 25px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: left;
    color: #3f3f3f;
    border-bottom: 1px solid #eceded;
  }
  form{
    margin-bottom: 60px;
    .block-form{
      background-color: #fff;
      padding: 25px 24px;
      &-inputs{
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-between;
        width: 100%;
      }
      &-input{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 24px;
        label{
          width: max-content;
          min-width:max-content;
          line-height: 36px;
          margin-right: 28px;
          padding-top: 0;
        }
        input{
          width: 268px;
        }
      }
      &-textarea{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
        >div{
          width: 100%;
        }
        label{
          min-width: 82px;
          line-height: 36px;
        }
        textarea{
          width: 100%;
        }
      }
      p{
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c;
        padding-bottom: 15px;
        border-bottom: 1px solid #eceded;
        margin-bottom: 24px;
      }
      &-btn input{
        border-radius: 10em;
        background-color: #f65314;
        border: 0;
        width: 175px;
        height: 54px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 23px;
        margin-left: 98px;
        transition: background-color .3s ease ;
        &:hover{
          background-color: #333;
        }
      }
    }

  }
}

.information-information{
  #content{
    background-color: #fff;
    margin-bottom: 61px;
    padding: 29px 26px 20px;
  }
  h1{
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 24px;
    margin-bottom: 25px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: left;
    color: #3f3f3f;
    border-bottom: 1px solid #eceded;
  }
  .block-img{
    text-align: center;
    margin-bottom: 30px;
    img{
      max-width: 100%;
    }
  }
  .block-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    margin-bottom: 36px;
    color: #3c3c3c;
  }
  .block-btn{
    margin-top: 50px;
    margin-bottom: 40px;
    a{
      max-width: 100%;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      padding: 20px 26px;
      display: block;
      width: max-content;
      border-radius: 10em;
      letter-spacing: 0.1px;
      text-align: center;
      position: relative;
      overflow: hidden;
      color: #ffffff;
      span {
        position: relative;
        z-index: 2;
      }
      &:hover:after {
        width: 140%;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        background-color: #f65314;
        right: -20px;
        width: 140%;
        height: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        background-color: #3d3d3d;
        left: -20px;
        width: 0%;
        height: 100%;
      }
    }
  }
  hr{
    background-color: #eceded;
    margin: 30px 0;
  }
  p{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
  }
  .order-list{
    list-style: none;
    padding: 0;
    li {
      padding-left: 72px;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 65px;
      line-height: 1;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3c3c3c;
      position: relative;
      &:before {
        content: '';
        background-image: url(../image/icon-delivery-line.png);
        position: absolute;
        left: 25px;
        top: 38px;
        width: 4px;
        height: 18px;
      }
      i {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        position: absolute;
        width: 54px;
        height: 54px;
        &.icon-delivery-1 {
          background-image: url(../image/icon-delivery-1.png);
        }
        &.icon-delivery-2 {
          background-image: url(../image/icon-delivery-2.png);

        }
        &.icon-delivery-3 {
          background-image: url(../image/icon-delivery-3.png);

        }
        &.icon-delivery-4 {
          background-image: url(../image/icon-delivery-4.png);

        }
      }
      &:last-child {
        margin-bottom: 80px;
        &:before {
          display: none;
        }
      }
    }
  }
}

.page-contacts{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 55px;
  .contacts-title{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
  }
  .contacts-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .contacts-telephone{
      a{
        padding-left: 33px;
        margin-bottom: 20px;
        display: block;
        position: relative;
        font-weight: bold;
        line-height: 1;
        font-size: 14px;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c;
        i{
          position: absolute;
          top: 50%;
          left: 2px;
          transform: translateY(-50%);
          &::before{
            color: #b32925;

          }
        }
        &:hover{
          text-decoration: underline;
        }
      }

    }
    .contacts-mail{
      padding-left: 33px;
      position: relative;
      margin-bottom: 25px;
      i{
        position: absolute;
        top: 2px;
        font-size: 11px;
        left: 3px;
      }
      a{
        line-height: 1;
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .contacts-address{
      margin-bottom: 55px;
      div{
        padding-left: 33px;
        position: relative;
        i{
          font-size: 16px;
          top: 50%;
          position: absolute;
          transform: translateY(-50%);
          left: 4px;
        }
      }
      p{
        margin-bottom: 0;
        padding-left: 33px;
        font-size: 14px;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c;
      }

    }

  }
  .contacts-social{
    margin-top: 10px;
    a{
      margin-right: 36px;
      &::before{
        color:#f65a1e;
        transition: color .3s ease;
      }
      &:hover::before{
        color: #333;
      }
    }
  }
  .contacts-map{
    #map{
      width: 457px;
      height: 339px;
    }
  }
}
.alert{
  text-align: center;
  margin-bottom: 0;
}
#xx-tovars .modal-dialog{
  top: 50%;
  transform: translateY(-50%);
}

.product-special{
  .option-block{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.sort_panel{
  margin-bottom: 10px;
  flex-wrap: wrap;

  h1{
    &:before{
      display: none;
    }
    padding: 0;
    margin-bottom: 10px;
  }
}

.product_info_panel-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-compare{
  display: block;
  overflow: auto;
  max-width: 100%;
}

.account-forgotten{
  .ct-center-6{
    width: 75%;
    padding: 0 15px;
    margin: auto;
  }
}

#modal_popup_product{
  padding-right: 0;
  .close{
    position: absolute;
    right: 9px;
    font-size: 35px!important;
    z-index: 1;
  }
}
.share-wishlist{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  &-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .form-group{
    margin-bottom: 0;
  }
  ._share_wishlist_email{
    width: 218px;
    height: 36px;
    font-weight: bold;
    background-color: #edf0f3;
    color: #3c3c3c;
    border: 0;
    border-radius: 10em;
    font-size: 11px;
    padding-left: 20px;
    margin-right: 18px;
  }
  ._share_wishlist{
    background-color: transparent;
    border: 0;
    height: 37px;
    padding: 0;
  }
}
._share_wishlist{
  &.icon-fb:before{
    color: #f65314;
  }
}

.mfilter-hide-counter{
  display: none;
}

.dropdown-menu{
  li a{
    background: #fff;
    color: #405395;
    transition: background-color .3s ease;
    &:hover{
      background: #fff4df!important;
      color: #405395!important;
    }
  }
}
.mr-l-0{
  margin-left: 0!important;
}
#mfilter-price-slider{
  span:nth-child(2):before{
    right: 7px;
    left: auto;
    text-align: right;
    transform: translate(0);
  }
  span:nth-child(3):before{
    left: 7px!important;
    text-align: left;
    transform: translate(0);
  }
}
.loaderrr{
  &::after{
    content: ''!important;
  }
  &::before{
    content: '';
    background-image: url(../image/orig.gif);
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.aditional_thumb{
  max-width: 74px;
  max-height: 74px;
  .frame_wrapp{
    position: relative;
    padding-bottom: 0;
    max-width: 74px;
    max-height: 74px;
    display: block!important;
    &:before{

      z-index: 1;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.41);
      position: absolute;
      left: 0;
      top: 0;
    }
    iframe {
      position: relative;
      width: 74px;
      height: 74px;
    }
  }
}
.product_options .radio_wrapp input + label{
  opacity: .6;
}
.product_options .radio_wrapp input:checked + label{
  opacity: 1!important;
  &:after {
    opacity: 1!important;
  }
}