body {
  background-color: #f5f6f7; }
  body.active {
    overflow-y: hidden; }
    body.active:before {
      width: 100%;
      height: 100%;
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10000;
      background-color: rgba(0, 0, 0, 0.35); }

input, button {
  outline: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.modal-content {
  border-radius: 0; }
  .modal-content .alert {
    border-radius: 0;
    font-size: 14px;
    line-height: 20px; }
    .modal-content .alert i {
      margin: 0 5px;
      color: #b32925;
      font-size: 20px; }
    .modal-content .alert a {
      color: #b32925;
      transition: color .3s ease; }
      .modal-content .alert a:hover {
        color: #fda700; }

.margin-input {
  margin-bottom: 15px; }

.icon-comparison:after, .icon-heart:after {
  display: none; }

.icon-fb:before {
  color: #fff;
  font-size: 20px; }

.icon-insta:before {
  color: #fff;
  font-size: 16px; }

.icon-phone:before {
  color: #fff;
  font-size: 16px; }

.icon-yt:before {
  color: #fff;
  font-size: 21px; }

.icon-arrow-up:before {
  color: #D5D9DC;
  font-size: 24px; }

.icon-book:before {
  color: #b32925; }

.btn-wishlist-close {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  color: #fff;
  transition: all .3s ease;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 0; }
  .btn-wishlist-close:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9); }

#top {
  background-color: #fff;
  margin-bottom: 59px; }

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 74px; }
  .top-bar-logo {
    max-width: 153px;
    max-height: 48px;
    width: 100%; }
  .top-bar-search {
    max-width: 558px;
    width: 100%;
    position: relative;
    margin-left: 70px;
    font-weight: bold;
    height: 36px; }
    .top-bar-search input {
      height: 100%;
      width: 100%;
      border-radius: 18px;
      background-color: #edf0f3;
      border: 0;
      padding-left: 25px;
      box-shadow: none;
      font-size: 14px;
      outline: 0; }
      .top-bar-search input:focus, .top-bar-search input:active {
        outline: 0; }
    .top-bar-search button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 34px;
      padding: 0 15px;
      right: -1px;
      border: 0;
      background-color: #edf0f3;
      border-radius: 0 18px 18px 0;
      transition: background-color .3s ease; }
      .top-bar-search button:hover {
        background-color: #fff; }
  .top-bar-navigation {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    align-items: center; }
    .top-bar-navigation .num-select {
      position: absolute;
      color: #fff;
      font-family: 'PT Sans', sans-serif;
      font-size: 10px;
      font-weight: bold;
      width: 15px;
      height: 15px;
      display: block;
      text-align: center;
      line-height: 15px;
      border-radius: 50%;
      right: -7px;
      bottom: 3px;
      background-color: #f65314; }
    .top-bar-navigation svg {
      width: 100%;
      height: 100%; }
      .top-bar-navigation svg path {
        transition: stroke .2s ease; }
      .top-bar-navigation svg:hover path {
        stroke: #b32925; }
    .top-bar-navigation a {
      display: block;
      font-size: 30px;
      color: #3C3C3C;
      text-decoration: none;
      transition: color .3s ease; }
      .top-bar-navigation a:hover {
        color: #fda700; }
      .top-bar-navigation a:after {
        display: none; }
  .top-bar-like {
    margin: 0 14px; }
  .top-bar-comparison {
    margin: 0 14px; }
  .top-bar-cart {
    margin: 0 14px;
    position: relative; }
  .top-bar-account {
    margin: 0 0 0 14px; }

.panel-menu {
  background-color: #fff;
  position: fixed;
  height: 100%;
  width: 320px;
  z-index: 999999999;
  left: -320px;
  overflow-y: auto;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .panel-menu.active {
    left: 0; }
  .panel-menu-list ul {
    padding: 25px 0;
    margin-bottom: 0;
    list-style: none; }
    .panel-menu-list ul li a {
      transition: background-color .3s ease;
      padding-left: 25px;
      padding: 5px 0 5px 25px;
      display: block;
      color: #3f3f3f;
      font-size: 20px; }
      .panel-menu-list ul li a:hover {
        background-color: #fff4df; }
  .panel-menu-top {
    height: 40px;
    border-bottom: 1px solid rgba(63, 63, 63, 0.45); }
  .panel-menu-bottom {
    display: none;
    border-top: 1px solid rgba(63, 63, 63, 0.45); }
    .panel-menu-bottom ul {
      height: 80px;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .panel-menu-bottom ul li {
        margin: 0 20px; }
        .panel-menu-bottom ul li a:before {
          color: #3f3f3f; }
  .panel-menu-close {
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s ease; }
    .panel-menu-close:hover {
      background-color: #fff4df; }
    .panel-menu-close i {
      line-height: 39px;
      font-size: 25px; }

header {
  position: fixed;
  z-index: 10;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #b32925; }

.header {
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header-navigation_media {
    display: none; }
  .header .top-bar-navigation a {
    color: #fff; }
    .header .top-bar-navigation a:after {
      display: none; }
  .header-menu-btn {
    font-size: 30px;
    display: none;
    cursor: pointer; }
    .header-menu-btn:before {
      transition: color .3s ease; }
    .header-menu-btn:hover:before {
      color: #fda700; }
  .header-menu ul {
    margin: 0 0 0 -12px;
    padding: 0;
    height: 100%; }
    .header-menu ul li {
      display: inline-block;
      font-weight: bold;
      font-size: 14px;
      margin: 0 12px;
      height: 100%;
      position: relative; }
      .header-menu ul li:after {
        content: '';
        height: 4px;
        width: 0;
        position: absolute;
        bottom: -19px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff; }
      .header-menu ul li.active:after {
        width: 100%; }
      .header-menu ul li a {
        color: #fff;
        transition: color .3s ease; }
        .header-menu ul li a:hover {
          color: #fda700; }
  .header-social ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header-social ul li {
      display: inline-block;
      margin: 0 23px; }
      .header-social ul li a:before {
        transition: color .3s ease; }
      .header-social ul li a:hover:before {
        color: #fda700; }
  .header-phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 196px;
    height: 100%;
    width: 100%; }
    .header-phone-media {
      display: none; }
    .header-phone:hover, .header-phone.active {
      background-color: #9b221f; }
    .header-phone-nav {
      display: none;
      z-index: 10;
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      width: 100%; }
    .header-phone ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style: none; }
      .header-phone ul li {
        width: 100%;
        margin-top: 2px;
        background-color: #9b221f;
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
    .header-phone a {
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      transition: color .3s ease;
      display: block;
      width: 100%;
      letter-spacing: -0.2px; }
      .header-phone a:hover {
        color: #fda700; }
      .header-phone a:focus {
        color: #fff; }
    .header-phone span.icon-arrow {
      color: #fff;
      margin: 0 3px;
      padding: 10px;
      cursor: pointer;
      font-size: 10px;
      transform: rotate(180deg);
      transition: all .3s ease; }
      .header-phone span.icon-arrow.active {
        transform: rotate(0deg); }
      .header-phone span.icon-arrow:hover {
        color: #fda700; }
      .header-phone span.icon-arrow:focus, .header-phone span.icon-arrow:active {
        color: #fff; }
    .header-phone span.icon-phone {
      margin-right: 15px;
      margin-left: 15px; }

.wrapper {
  background-color: #f5f6f7;
  position: relative; }
  .wrapper .sing-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 624px;
    height: 624px;
    background-image: url(../image/sing-left.jpg);
    z-index: 1; }
  .wrapper .sing-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 624px;
    height: 624px;
    background-image: url(../image/sing-right.jpg);
    z-index: 1; }
  .wrapper .container {
    z-index: 2;
    position: relative; }
  .wrapper-top {
    padding: 30px 0;
    position: relative; }
  .wrapper-bottom {
    z-index: 2;
    position: relative;
    background-color: #fff;
    padding: 50px 0 62px; }

.list-category-title {
  text-transform: uppercase;
  color: #3f3f3f;
  font-size: 14px;
  background-color: #edf0f3;
  height: 46px;
  line-height: 46px;
  font-weight: bold;
  padding-left: 47px;
  padding-right: 50px;
  border-bottom: 3px solid #f65314;
  position: relative; }
  .list-category-title span {
    display: none; }
  .list-category-title span.icon-arrow-up {
    position: absolute;
    right: 13px;
    display: block;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: all .3s ease;
    cursor: pointer; }
    .list-category-title span.icon-arrow-up:before {
      transition: color .3s ease; }
    .list-category-title span.icon-arrow-up:hover:before {
      color: #f3b5a0; }
    .list-category-title span.icon-arrow-up.active {
      transform: translateY(-50%) rotate(0deg); }
  .list-category-title span.icon-book {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    font-size: 18px;
    position: absolute; }
  .list-category-title span.icon-icon-tech {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    font-size: 18px;
    position: absolute; }
.list-category nav {
  margin-bottom: 27px; }
  .list-category nav ul {
    list-style: none;
    padding: 0; }
    .list-category nav ul.list-lvl {
      display: none;
      margin-left: 15px;
      margin-bottom: 0; }
      .list-category nav ul.list-lvl li {
        padding-right: 0 !important; }
        .list-category nav ul.list-lvl li a {
          font-size: 12px;
          font-weight: normal;
          padding: 5px 0 5px 5px; }
        .list-category nav ul.list-lvl li .icon-arrow {
          right: -25px;
          top: 4px; }
      .list-category nav ul.list-lvl.active {
        display: block; }
  .list-category nav li {
    background-color: #fff;
    margin-top: 1px;
    padding-right: 37px;
    position: relative; }
    .list-category nav li.active > a {
      color: #f65314; }
    .list-category nav li span.icon-arrow {
      top: 14px;
      transition: all .3s ease;
      transform: rotate(90deg);
      right: 12px;
      color: #f65314;
      font-size: 14px;
      position: absolute;
      cursor: pointer; }
      .list-category nav li span.icon-arrow.active {
        transform: rotate(180deg); }
  .list-category nav a {
    color: #000;
    position: relative;
    display: block;
    line-height: 14px;
    padding: 13px 0 13px 13px;
    font-size: 14px;
    font-weight: bold;
    transition: all .3s ease;
    color: #3f3f3f; }
    .list-category nav a img {
      height: 16px;
      width: 15px;
      display: inline-block;
      margin-right: 10px; }
    .list-category nav a span {
      margin-left: 12px;
      color: #949494;
      font-size: 12px; }
    .list-category nav a:hover {
      color: #f65314; }

h3 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  color: #3f3f3f;
  margin: 30px auto;
  width: -moz-max-content;
  display: block;
  width: auto;
  max-width: max-content;
  position: relative; }
  h3:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: -24px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: #3f3f3f; }
  h3:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: -23px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: #3f3f3f; }

.slidershow {
  position: relative;
  padding-bottom: 20px; }
  .slidershow .item {
    height: 360px; }
    .slidershow .item img {
      height: 100%; }
    .slidershow .item .btn-a {
      color: #fff;
      font-size: 14px;
      position: absolute;
      border-radius: 10em;
      bottom: 60px;
      margin-left: 54px;
      font-weight: bold;
      background-color: transparent;
      width: 212px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      overflow: hidden; }
      .slidershow .item .btn-a span {
        position: relative;
        z-index: 2; }
      .slidershow .item .btn-a:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        background-color: #f65314;
        right: -20px;
        width: 140%; }
      .slidershow .item .btn-a:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        -o-transform: skew(-45deg);
        transform: skew(-45deg);
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        background-color: #3d3d3d;
        left: -20px;
        width: 0%; }
      .slidershow .item .btn-a:hover {
        color: #fff; }
        .slidershow .item .btn-a:hover:after {
          width: 140%; }
  .slidershow .slick-dots {
    position: absolute;
    list-style: none;
    font-size: 0;
    padding: 0;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }
    .slidershow .slick-dots li {
      display: inline-block;
      margin: 0 9px; }
      .slidershow .slick-dots li.slick-active button:before {
        background-color: #fff; }
      .slidershow .slick-dots li.slick-active button:after {
        background-color: transparent !important; }
      .slidershow .slick-dots li button {
        background-color: transparent;
        border: 0;
        position: relative; }
        .slidershow .slick-dots li button:after {
          transition: background-color .3s ease;
          content: '';
          top: 50%;
          left: 50%;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          width: 8px;
          height: 8px;
          position: absolute;
          background-color: rgba(255, 255, 255, 0.5); }
        .slidershow .slick-dots li button:before {
          transition: background-color .3s ease;
          content: '';
          top: 50%;
          left: 50%;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          width: 12px;
          height: 12px;
          position: absolute; }
        .slidershow .slick-dots li button:hover:after {
          background-color: #3d3d3d; }

.button-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px 0 15px;
  margin-bottom: 17px; }
  .button-group.popup-purchase-button {
    display: none; }
  .button-group .btn-add {
    background-color: #f65314;
    width: 138px;
    padding: 0;
    position: relative;
    height: 42px;
    color: #fff;
    border-radius: 10em;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden; }
    .button-group .btn-add span {
      position: relative;
      z-index: 2; }
    .button-group .btn-add:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
      -o-transform: skew(-45deg);
      transform: skew(-45deg);
      -webkit-transition: width .3s ease-in-out;
      -o-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      background-color: #f65314;
      right: -20px;
      width: 140%;
      height: 100%; }
    .button-group .btn-add:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
      -o-transform: skew(-45deg);
      transform: skew(-45deg);
      -webkit-transition: width .3s ease-in-out;
      -o-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      background-color: #3d3d3d;
      left: -20px;
      width: 0%;
      height: 100%; }
    .button-group .btn-add:hover {
      color: #fff; }
      .button-group .btn-add:hover:after {
        width: 140%; }
  .button-group .btn-icon {
    background-color: transparent;
    border: 0;
    font-size: 30px; }
    .button-group .btn-icon i {
      color: #9b221f; }
      .button-group .btn-icon i:before {
        transition: color .3s ease; }
      .button-group .btn-icon i.icon-heart {
        font-size: 26px; }
        .button-group .btn-icon i.icon-heart:after {
          display: none; }
      .button-group .btn-icon i.icon-comparison {
        font-size: 30px; }
        .button-group .btn-icon i.icon-comparison:after {
          display: none; }
    .button-group .btn-icon:hover i:before {
      display: none; }
    .button-group .btn-icon:hover i:after {
      display: block; }

.box-news-list {
  padding-top: 6px; }
  .box-news-list .box-news-img {
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px; }
    .box-news-list .box-news-img img {
      width: 100%;
      height: 100%;
      -webkit-transform: scale(1, 1);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 300ms;
      -moz-transform: scale(1, 1);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 300ms; }
      .box-news-list .box-news-img img:hover {
        -webkit-transform: scale(1.2, 1.2);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 300ms;
        -moz-transform: scale(1.2, 1.2);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 300ms; }
  .box-news-list .box-news-name {
    height: 42px;
    margin-bottom: 15px; }
    .box-news-list .box-news-name a {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.1px;
      color: #3f3f3f;
      transition: color .3s ease; }
      .box-news-list .box-news-name a:hover {
        color: #f65314; }
  .box-news-list .box-news-description {
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3f3f3f; }

footer {
  padding-top: 42px;
  padding-bottom: 67px; }
  footer h5 {
    margin-top: 0;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  footer ul li {
    margin-bottom: 19px;
    font-size: 11px;
    line-height: 11px; }
    footer ul li a {
      font-weight: bold;
      letter-spacing: 0.1px;
      text-align: left;
      color: #eca7a5; }
      footer ul li a:hover {
        color: #fda700; }
  footer .footer-subscription {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    footer .footer-subscription input {
      width: 218px;
      height: 36px;
      font-weight: bold;
      color: #fff;
      color: #3c3c3c;
      border: 0;
      border-radius: 10em;
      font-size: 11px;
      padding-left: 20px;
      margin-right: 18px; }
    footer .footer-subscription button {
      background: transparent;
      padding: 0;
      border: 0;
      border-radius: 50%;
      width: 36px;
      height: 36px; }
      footer .footer-subscription button .sircle {
        transition: fill .3s ease; }
      footer .footer-subscription button:hover .sircle {
        fill: #3d3d3d; }
  footer .footer-logo {
    text-align: left; }
  footer .footer-social {
    margin-top: 44px; }
    footer .footer-social ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    footer .footer-social li {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 0; }
      footer .footer-social li a:before {
        color: #eca7a5;
        transition: color .3s ease; }
      footer .footer-social li:hover a:before {
        color: #fda700; }
  footer .footer-powered {
    font-size: 12px;
    font-weight: bold;
    padding-left: 17px;
    padding-top: 67px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff; }

.btn-olt {
  display: block;
  margin: auto;
  width: 132px;
  height: 42px;
  border-radius: 10em;
  text-align: center;
  line-height: 39px;
  font-size: 14px;
  font-weight: bold;
  color: #3c3c3c;
  letter-spacing: 0.1px;
  background-color: #3c3c3c;
  border: solid 2px #3c3c3c;
  margin-bottom: 48px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
  position: relative; }
  .btn-olt span {
    position: relative;
    z-index: 2; }
  .btn-olt:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transform: skew(-45deg);
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    background-color: #f5f6f7;
    right: -20px;
    width: 140%; }
  .btn-olt:hover {
    color: #fff; }
    .btn-olt:hover:before {
      width: 0%; }

.lines {
  width: 100%;
  padding-top: 12px;
  height: 1px;
  padding-bottom: 30px;
  display: block; }
  .lines:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eceded; }

.img-list-category span {
  display: none; }
.img-list-category .title {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-bottom: 20px; }
.img-list-category .block-img {
  margin-bottom: 16px;
  overflow: hidden; }
  .img-list-category .block-img img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 300ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 300ms; }
.img-list-category a {
  color: #405395;
  transition: color .3s ease; }
  .img-list-category a:hover {
    color: #f65314; }
    .img-list-category a:hover img {
      -webkit-transform: scale(1.2, 1.2);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 300ms;
      -moz-transform: scale(1.2, 1.2);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 300ms; }
.img-list-category p {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 47px; }

.error-not_found .sing-right, .error-not_found header, .error-not_found #top {
  display: none; }
.error-not_found .wrapper-top {
  padding-top: 0; }
.error-not_found footer {
  border: 0; }

.error-404 {
  background-color: #e2514d;
  height: 1080px;
  text-align: center; }
  .error-404 .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .error-404__logo {
    margin-top: 62px;
    margin-bottom: 136px; }
  .error-404__img-bg {
    width: 633px;
    height: 243px;
    background-size: contain;
    background-image: url(../image/error-404.png);
    margin-bottom: 47px; }
  .error-404 h1 {
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff; }
  .error-404 p {
    margin-bottom: 58px;
    line-height: 1;
    font-size: 18px;
    text-align: left;
    color: #ffffff; }
  .error-404__btn a {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 164px;
    height: 54px;
    border-radius: 27px;
    display: block;
    line-height: 54px;
    color: #f65314;
    position: relative;
    transition: all .3s ease;
    overflow: hidden; }
    .error-404__btn a:hover {
      color: #fff; }
      .error-404__btn a:hover:after {
        width: 140%; }
    .error-404__btn a span {
      position: relative;
      z-index: 2; }
    .error-404__btn a:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      transform: skew(-45deg);
      transition: width .3s ease-in-out;
      background-color: #fff;
      right: -20px;
      width: 140%; }
    .error-404__btn a:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
      -o-transform: skew(-45deg);
      transform: skew(-45deg);
      -webkit-transition: width .3s ease-in-out;
      -o-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      background-color: #3d3d3d;
      left: -20px;
      width: 0%; }

.information-contact h1, .information-contact legend {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  padding-bottom: 20px;
  margin-bottom: 25px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  text-align: left;
  color: #3f3f3f;
  border-bottom: 1px solid #eceded; }
.information-contact form {
  margin-bottom: 60px; }
  .information-contact form .block-form {
    background-color: #fff;
    padding: 25px 24px; }
    .information-contact form .block-form-inputs {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      justify-content: space-between;
      width: 100%; }
    .information-contact form .block-form-input {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 24px; }
      .information-contact form .block-form-input label {
        width: max-content;
        min-width: max-content;
        line-height: 36px;
        margin-right: 28px;
        padding-top: 0; }
      .information-contact form .block-form-input input {
        width: 268px; }
    .information-contact form .block-form-textarea {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 30px; }
      .information-contact form .block-form-textarea > div {
        width: 100%; }
      .information-contact form .block-form-textarea label {
        min-width: 82px;
        line-height: 36px; }
      .information-contact form .block-form-textarea textarea {
        width: 100%; }
    .information-contact form .block-form p {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3c3c3c;
      padding-bottom: 15px;
      border-bottom: 1px solid #eceded;
      margin-bottom: 24px; }
    .information-contact form .block-form-btn input {
      border-radius: 10em;
      background-color: #f65314;
      border: 0;
      width: 175px;
      height: 54px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.1px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 23px;
      margin-left: 98px;
      transition: background-color 0.3s ease; }
      .information-contact form .block-form-btn input:hover {
        background-color: #333; }

.information-information #content {
  background-color: #fff;
  margin-bottom: 61px;
  padding: 29px 26px 20px; }
.information-information h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  padding-bottom: 24px;
  margin-bottom: 25px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  text-align: left;
  color: #3f3f3f;
  border-bottom: 1px solid #eceded; }
.information-information .block-img {
  text-align: center;
  margin-bottom: 30px; }
  .information-information .block-img img {
    max-width: 100%; }
.information-information .block-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  margin-bottom: 36px;
  color: #3c3c3c; }
.information-information .block-btn {
  margin-top: 50px;
  margin-bottom: 40px; }
  .information-information .block-btn a {
    max-width: 100%;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    padding: 20px 26px;
    display: block;
    width: max-content;
    border-radius: 10em;
    letter-spacing: 0.1px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #ffffff; }
    .information-information .block-btn a span {
      position: relative;
      z-index: 2; }
    .information-information .block-btn a:hover:after {
      width: 140%; }
    .information-information .block-btn a:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
      -o-transform: skew(-45deg);
      transform: skew(-45deg);
      -webkit-transition: width .3s ease-in-out;
      -o-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      background-color: #f65314;
      right: -20px;
      width: 140%;
      height: 100%; }
    .information-information .block-btn a:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
      -o-transform: skew(-45deg);
      transform: skew(-45deg);
      -webkit-transition: width .3s ease-in-out;
      -o-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      background-color: #3d3d3d;
      left: -20px;
      width: 0%;
      height: 100%; }
.information-information hr {
  background-color: #eceded;
  margin: 30px 0; }
.information-information p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: 0.1px;
  text-align: left;
  color: #3c3c3c; }
.information-information .order-list {
  list-style: none;
  padding: 0; }
  .information-information .order-list li {
    padding-left: 72px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 65px;
    line-height: 1;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
    position: relative; }
    .information-information .order-list li:before {
      content: '';
      background-image: url(../image/icon-delivery-line.png);
      position: absolute;
      left: 25px;
      top: 38px;
      width: 4px;
      height: 18px; }
    .information-information .order-list li i {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      position: absolute;
      width: 54px;
      height: 54px; }
      .information-information .order-list li i.icon-delivery-1 {
        background-image: url(../image/icon-delivery-1.png); }
      .information-information .order-list li i.icon-delivery-2 {
        background-image: url(../image/icon-delivery-2.png); }
      .information-information .order-list li i.icon-delivery-3 {
        background-image: url(../image/icon-delivery-3.png); }
      .information-information .order-list li i.icon-delivery-4 {
        background-image: url(../image/icon-delivery-4.png); }
    .information-information .order-list li:last-child {
      margin-bottom: 80px; }
      .information-information .order-list li:last-child:before {
        display: none; }

.page-contacts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 55px; }
  .page-contacts .contacts-title {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c; }
  .page-contacts .contacts-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    .page-contacts .contacts-info .contacts-telephone a {
      padding-left: 33px;
      margin-bottom: 20px;
      display: block;
      position: relative;
      font-weight: bold;
      line-height: 1;
      font-size: 14px;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3c3c3c; }
      .page-contacts .contacts-info .contacts-telephone a i {
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translateY(-50%); }
        .page-contacts .contacts-info .contacts-telephone a i::before {
          color: #b32925; }
      .page-contacts .contacts-info .contacts-telephone a:hover {
        text-decoration: underline; }
    .page-contacts .contacts-info .contacts-mail {
      padding-left: 33px;
      position: relative;
      margin-bottom: 25px; }
      .page-contacts .contacts-info .contacts-mail i {
        position: absolute;
        top: 2px;
        font-size: 11px;
        left: 3px; }
      .page-contacts .contacts-info .contacts-mail a {
        line-height: 1;
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c; }
        .page-contacts .contacts-info .contacts-mail a:hover {
          text-decoration: underline; }
    .page-contacts .contacts-info .contacts-address {
      margin-bottom: 55px; }
      .page-contacts .contacts-info .contacts-address div {
        padding-left: 33px;
        position: relative; }
        .page-contacts .contacts-info .contacts-address div i {
          font-size: 16px;
          top: 50%;
          position: absolute;
          transform: translateY(-50%);
          left: 4px; }
      .page-contacts .contacts-info .contacts-address p {
        margin-bottom: 0;
        padding-left: 33px;
        font-size: 14px;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c; }
  .page-contacts .contacts-social {
    margin-top: 10px; }
    .page-contacts .contacts-social a {
      margin-right: 36px; }
      .page-contacts .contacts-social a::before {
        color: #f65a1e;
        transition: color .3s ease; }
      .page-contacts .contacts-social a:hover::before {
        color: #333; }
  .page-contacts .contacts-map #map {
    width: 457px;
    height: 339px; }

.alert {
  text-align: center;
  margin-bottom: 0; }

#xx-tovars .modal-dialog {
  top: 50%;
  transform: translateY(-50%); }

.product-special .option-block {
  display: flex;
  flex-direction: row;
  align-items: center; }

.sort_panel {
  margin-bottom: 10px;
  flex-wrap: wrap; }
  .sort_panel h1 {
    padding: 0;
    margin-bottom: 10px; }
    .sort_panel h1:before {
      display: none; }

.product_info_panel-right {
  display: flex;
  flex-direction: row;
  align-items: center; }

.table-compare {
  display: block;
  overflow: auto;
  max-width: 100%; }

.account-forgotten .ct-center-6 {
  width: 75%;
  padding: 0 15px;
  margin: auto; }

#modal_popup_product {
  padding-right: 0; }
  #modal_popup_product .close {
    position: absolute;
    right: 9px;
    font-size: 35px !important;
    z-index: 1; }

.share-wishlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px; }
  .share-wishlist-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
  .share-wishlist .form-group {
    margin-bottom: 0; }
  .share-wishlist ._share_wishlist_email {
    width: 218px;
    height: 36px;
    font-weight: bold;
    background-color: #edf0f3;
    color: #3c3c3c;
    border: 0;
    border-radius: 10em;
    font-size: 11px;
    padding-left: 20px;
    margin-right: 18px; }
  .share-wishlist ._share_wishlist {
    background-color: transparent;
    border: 0;
    height: 37px;
    padding: 0; }

._share_wishlist.icon-fb:before {
  color: #f65314; }

.mfilter-hide-counter {
  display: none; }

.dropdown-menu li a {
  background: #fff;
  color: #405395;
  transition: background-color .3s ease; }
  .dropdown-menu li a:hover {
    background: #fff4df !important;
    color: #405395 !important; }

.mr-l-0 {
  margin-left: 0 !important; }

#mfilter-price-slider span:nth-child(2):before {
  right: 7px;
  left: auto;
  text-align: right;
  transform: translate(0); }
#mfilter-price-slider span:nth-child(3):before {
  left: 7px !important;
  text-align: left;
  transform: translate(0); }

.loaderrr::after {
  content: "" !important; }
.loaderrr::before {
  content: '';
  background-image: url(../image/orig.gif);
  width: 50px;
  height: 50px;
  background-size: cover;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%); }

.aditional_thumb {
  max-width: 74px;
  max-height: 74px; }
  .aditional_thumb .frame_wrapp {
    position: relative;
    padding-bottom: 0;
    max-width: 74px;
    max-height: 74px;
    display: block !important; }
    .aditional_thumb .frame_wrapp:before {
      z-index: 1;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.41);
      position: absolute;
      left: 0;
      top: 0; }
    .aditional_thumb .frame_wrapp iframe {
      position: relative;
      width: 74px;
      height: 74px; }

.product_options .radio_wrapp input + label {
  opacity: .6; }

.product_options .radio_wrapp input:checked + label {
  opacity: 1 !important; }
  .product_options .radio_wrapp input:checked + label:after {
    opacity: 1 !important; }

/*# sourceMappingURL=style-main.css.map */
