@charset "UTF-8";
* {
  outline: 0px !important;
  box-sizing: border-box; }

*:focus,
*:active {
  outline: 0px !important;
  text-shadow: none;
  box-shadow: none !important; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: 0px !important; }

a:focus,
a:hover,
a:active {
  text-decoration: none; }

h1 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: left;
  color: #3f3f3f;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 16px;
  margin: 0 0 30px; }
  h1:before {
    content: '';
    background-color: #eceded;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0; }

.flex-row {
  display: flex;
  align-items: center; }

.container_margin {
  margin-bottom: 12px; }

.reviews__item {
  background-color: #ffffff;
  padding: 18px 17px;
  margin-bottom: 24px; }
  .reviews__item .description-conteiner {
    padding: 20px 24px; }
    .reviews__item .description-conteiner a {
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.1px;
      text-align: left;
      color: #405395;
      margin-bottom: 14px;
      display: block; }
.reviews__image {
  background-color: transparent;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px; }
  .reviews__image i {
    font-size: 40px; }
.reviews__user {
  position: relative; }
  .reviews__user:before {
    content: '';
    background: url("/catalog/view/theme/default/image/line@2x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    width: 7px;
    height: calc(100% + 36px);
    position: absolute;
    top: -18px;
    right: 0; }
.reviews__username {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #3c3c3c; }
.reviews__rating {
  margin-bottom: 30px; }
  .reviews__rating a {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #d5d9dc; }
    .reviews__rating a span {
      color: #56b33d; }
  .reviews__rating .fa-stack {
    width: 18px;
    height: 18px;
    line-height: 0;
    text-align: center;
    font-size: 18px;
    margin-right: 2.5px; }
  .reviews__rating .fa {
    font-size: 18px;
    color: #d5d9dc; }
    .reviews__rating .fa.active {
      color: #56b33d; }
      .reviews__rating .fa.active i {
        color: #56b33d; }
.reviews span {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #949494; }
.reviews__description {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #3c3c3c; }

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 18px 0 60px;
  background-color: transparent;
  padding: 17px 180px 0;
  position: relative;
  border-top: 1px solid #eceded; }
  .pagination > li {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
    line-height: 42px;
    padding-left: 0;
    border-radius: 21px;
    background-color: transparent; }
    .pagination > li:before {
      display: none; }
    .pagination > li a {
      border: 0;
      padding: 0;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      color: #3c3c3c;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 42px;
      text-align: center;
      border-radius: 21px;
      background-color: transparent; }
      .pagination > li a:hover {
        border-radius: 21px;
        background-color: #3c3c3c;
        color: #fff !important; }
    .pagination > li.prev {
      position: absolute;
      left: 0;
      z-index: 2;
      width: auto;
      color: #3c3c3c;
      border-radius: 21px;
      background-color: transparent;
      border: solid 2px #3c3c3c; }
      .pagination > li.prev a {
        padding: 0 39px 0 37px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        text-align: center;
        color: #3c3c3c;
        line-height: 38px;
        background-color: transparent; }
      .pagination > li.prev span {
        font-size: 10px;
        padding-right: 10px; }
      .pagination > li.prev:hover {
        background-color: #3c3c3c;
        color: #fff !important; }
    .pagination > li.last {
      position: absolute;
      right: 0;
      z-index: 2;
      width: auto;
      color: #3c3c3c;
      border-radius: 21px;
      background-color: transparent;
      border: solid 2px #3c3c3c; }
      .pagination > li.last a {
        padding: 0 39px 0 37px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        text-align: center;
        color: #3c3c3c;
        line-height: 38px;
        background-color: transparent;
        white-space: nowrap; }
      .pagination > li.last span {
        font-size: 10px;
        padding-left: 10px; }
      .pagination > li.last:hover {
        background-color: #3c3c3c;
        color: #fff !important; }
    .pagination > li.active span {
      display: block;
      border-radius: 21px;
      background-color: #d5d9dc;
      border: 0;
      padding: 0;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      color: #3c3c3c;
      width: 100%;
      height: 100%;
      line-height: 42px; }
      .pagination > li.active span:hover {
        border-radius: 21px;
        background-color: #3c3c3c;
        color: #fff !important; }

.white-style-form {
  background-color: #ffffff;
  padding: 29px 26px; }
  .white-style-form h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #3f3f3f;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 30px; }
    .white-style-form h2:before {
      content: '';
      background-color: #eceded;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0; }
  .white-style-form .flex-row {
    align-items: flex-start; }

.control-label {
  min-width: 90px;
  margin-right: 15px;
  text-align: left !important;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #3c3c3c; }

input.form-control {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dde1e5;
  height: 36px;
  box-shadow: none; }

textarea.form-control {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dde1e5;
  height: 96px;
  box-shadow: none;
  resize: none;
  margin-bottom: 15px; }

.reviewStars-input input {
  display: none; }

.c-center button {
  margin: 0 auto; }

.c-form-style {
  margin-bottom: 60px; }

.reviewStars-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
  padding-top: 7px; }
  .reviewStars-input .c-rating {
    float: left;
    color: #ccc; }
  .reviewStars-input input {
    margin-right: 10px; }
    .reviewStars-input input:checked ~ label .fa-star:before, .reviewStars-input input:checked + label .fa-star:before {
      color: #56b33d; }
    .reviewStars-input input:hover + label .fa-star:before {
      color: #56b33d; }
    .reviewStars-input input:hover ~ label .fa-star:before {
      color: #56b33d; }
  .reviewStars-input label {
    position: relative;
    font-size: 18px;
    color: #d9dbe1;
    padding: 0;
    cursor: pointer;
    margin: 0 2.5px; }
    .reviewStars-input label i {
      color: #d9dbe1;
      font-size: 18px; }

.btn-default, .btn-primary, .btn-danger {
  min-width: 164px;
  height: 42px;
  border-radius: 27px;
  background-color: #f65314;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff !important;
  background-image: none;
  box-shadow: none;
  border: 0;
  text-shadow: none;
  transition: all .3s ease; }
  .btn-default:hover, .btn-primary:hover, .btn-danger:hover {
    background-color: #333 !important;
    border: 0; }

.nav-tabs {
  border-bottom: 1px solid #eceded;
  margin-bottom: 30px; }
  .nav-tabs > li {
    float: left;
    padding-right: 25px;
    padding-left: 0; }
    .nav-tabs > li:before {
      display: none; }
    .nav-tabs > li > a {
      transition: .3s;
      border: 0;
      padding: 10px 12px;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: 0.2px;
      text-align: left;
      color: #3c3c3c;
      position: relative; }
      .nav-tabs > li > a:active, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
        background-color: transparent;
        border: 0 !important;
        color: #3c3c3c; }
    .nav-tabs > li.active > a {
      border: 0 !important;
      color: #3c3c3c;
      background-color: transparent; }
      .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border: 0 !important;
        color: #3c3c3c;
        background-color: transparent; }
      .nav-tabs > li.active > a:before {
        content: '';
        position: absolute;
        background-color: #9b221f;
        width: 100%;
        height: 3px;
        bottom: -1px;
        left: 0; }

.alert-danger {
  color: #b32925;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 10px 0; }

.news-ncategory .wrapper {
  background-color: #fff; }
  .news-ncategory .wrapper .sing-right {
    background-image: none; }

.article-content {
  margin-bottom: 60px;
  padding: 17px 18px;
  background-color: #fff; }
  .article-content .с-news-images {
    margin-bottom: 30px; }
  .article-content .c-inform-text p {
    background-color: transparent !important; }
  .article-content h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: center;
    color: #3f3f3f;
    margin: 30px auto;
    width: -moz-max-content;
    display: block;
    width: max-content;
    position: relative; }
    .article-content h2:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: -24px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      background-color: #3f3f3f; }
    .article-content h2:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      right: -23px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      background-color: #3f3f3f; }

#simplepage_form .form-horizontal {
  padding: 0 15px; }

.top-bar-container {
  position: relative; }

.account-simpleregister .simple-content {
  padding: 17px 18px;
  background-color: #fff;
  width: 50%;
  margin: 0 auto 60px; }
  .account-simpleregister .simple-content .simpleregister-have-account {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
    margin-bottom: 38px; }
    .account-simpleregister .simple-content .simpleregister-have-account a {
      color: #405395; }
  .account-simpleregister .simple-content .flex-row {
    align-items: flex-start; }
.account-simpleregister .radio {
  margin-bottom: 42px; }
  .account-simpleregister .radio label {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 0.2px;
    text-align: left;
    color: #3c3c3c;
    padding: 0 12px;
    position: relative; }
    .account-simpleregister .radio label input {
      position: absolute;
      visibility: hidden; }
    .account-simpleregister .radio label .label-text {
      position: relative; }
      .account-simpleregister .radio label .label-text:before {
        content: '';
        position: absolute;
        background-color: #9b221f;
        width: calc(100% + 24px);
        height: 3px;
        left: -12px;
        display: none;
        bottom: -10px; }
    .account-simpleregister .radio label input:checked + .label-text:before {
      display: block; }

.simple-content h4 {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #3c3c3c;
  position: relative;
  padding-bottom: 16px;
  margin: 0 0 30px; }
  .simple-content h4:before {
    content: '';
    background-color: #eceded;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0; }

.form-horizontal .form-group {
  margin-left: 0; }

.header-simle-mini {
  margin: 25px 0 0 0; }

.well {
  padding: 17px 18px;
  background-color: #fff;
  border-radius: 0;
  border: 0; }
  .well h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #3f3f3f;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 30px; }
    .well h2:before {
      content: '';
      background-color: #eceded;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0; }

a {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #405395; }

.simplecheckout-right-column,
.simplecheckout-left-column {
  background-color: #fff;
  padding: 29px 24px; }
  .simplecheckout-right-column h2,
  .simplecheckout-left-column h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #3f3f3f;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 30px; }
    .simplecheckout-right-column h2:before,
    .simplecheckout-left-column h2:before {
      content: '';
      background-color: #eceded;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0; }
  .simplecheckout-right-column .simplecheckout-right-column,
  .simplecheckout-right-column .simplecheckout-left-column,
  .simplecheckout-left-column .simplecheckout-right-column,
  .simplecheckout-left-column .simplecheckout-left-column {
    padding: 0; }

.form-checkbox {
  padding: 0 !important; }

.form-checkbox input[type="radio"],
.form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden; }

.form-checkbox input[type="radio"]:checked + .form-checkbox__marker,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #ebecf0; }

.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label {
  color: #333333; }

.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label .mfilter-counter,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label .mfilter-col-count {
  color: #333333; }

.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1; }

.iScrollIndicator {
  background: coral !important; }

.form-checkbox__marker {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #ebecf0;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left; }

.form-checkbox__marker:after {
  position: absolute;
  content: '';
  left: 15%;
  top: 18%;
  height: 40%;
  width: 60%;
  border-bottom: 2px solid #404969;
  border-left: 2px solid #404969;
  -webkit-transform: rotate(-45deg);
  opacity: 0; }

.form-checkbox__label span,
.form-checkbox__label {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #3c3c3c; }

.radio .form-checkbox__marker {
  border-radius: 50%; }
  .radio .form-checkbox__marker:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9b221f;
    opacity: 0;
    border: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0, -50%);
    top: 50%; }

.simple_cart .block-title {
  padding: 30px;
  background-color: #fff;
  border-bottom: 1px solid #ebecf0; }
  .simple_cart .block-title h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #1a1a1a;
    margin: 0;
    text-transform: none; }
.simple_cart .simple_item {
  border-bottom: solid 1px #eceded;
  display: flex;
  align-items: flex-start;
  padding: 0 0 22px;
  position: relative;
  margin-bottom: 24px; }
  .simple_cart .simple_item .quantity,
  .simple_cart .simple_item .pqt {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .simple_cart .simple_item .control_product_group {
    flex-direction: row; }
  .simple_cart .simple_item .wrapper-grey {
    border-radius: 4px;
    background-color: #f5f6f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 13px; }
    .simple_cart .simple_item .wrapper-grey span {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3c3c3c; }
  .simple_cart .simple_item .quantity {
    border-radius: 4px;
    background-color: #f6f6fb;
    width: 68px;
    height: 36px;
    border: solid 1px #dde1e5;
    margin-left: 15px;
    overflow: hidden; }
    .simple_cart .simple_item .quantity input {
      background-color: #fff;
      border: 0;
      padding: 0;
      height: 100%;
      flex: 1;
      text-align: center;
      box-shadow: none; }
    .simple_cart .simple_item .quantity button {
      height: 100%;
      background-color: #fff;
      padding: 0;
      border: 0;
      flex: 1;
      color: #3c3c3c; }
    .simple_cart .simple_item .quantity .btn-plus i {
      transform: rotate(90deg); }
    .simple_cart .simple_item .quantity .btn-minus i {
      transform: rotate(90deg); }
  .simple_cart .simple_item .price {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 0.2px;
    text-align: left;
    color: #3c3c3c; }
    .simple_cart .simple_item .price span {
      display: block;
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #949494; }
  .simple_cart .simple_item .wrapp_cart_right {
    width: 100%;
    padding-left: 30px; }
    .simple_cart .simple_item .wrapp_cart_right .options {
      margin-bottom: 11px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3c3c3c; }
    .simple_cart .simple_item .wrapp_cart_right .name {
      margin-bottom: 20px; }
      .simple_cart .simple_item .wrapp_cart_right .name a {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c; }
  .simple_cart .simple_item .remove_btn {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 0;
    border: 0;
    padding: 0;
    font-size: 21px; }

#total_shipping {
  display: none; }

.simplecheckout-cart-coupon {
  padding: 15px 27px 29px;
  border-radius: 10px;
  background-color: #f5f6f7;
  margin-bottom: 27px; }
  .simplecheckout-cart-coupon .simplecheckout-cart-total-value {
    margin: 0; }
  .simplecheckout-cart-coupon div {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
    margin-bottom: 15px; }
  .simplecheckout-cart-coupon input {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #dde1e5;
    min-width: 312px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c; }

.simplecheckout-cart-total {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 5px; }
  .simplecheckout-cart-total span {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    color: #3c3c3c; }
  .simplecheckout-cart-total .simplecheckout-cart-total-value {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.2px;
    text-align: right;
    color: #3c3c3c;
    margin-left: 10px; }

#total_shipping .simplecheckout-cart-total-value {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.2px;
  text-align: right;
  color: #3c3c3c; }

#total_coupon {
  margin-bottom: 25px; }
  #total_coupon span {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    color: #7fbf5f; }
  #total_coupon .simplecheckout-cart-total-value {
    font-size: 18px;
    line-height: 1.22;
    color: #7fbf5f; }

#total_total span {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.2px;
  text-align: right;
  color: #3c3c3c; }
#total_total .simplecheckout-cart-total-value {
  font-size: 24px;
  line-height: 0.92; }

.simpleregister-button-block .simpleregister-button-left {
  padding-left: 17px; }

.account_left_bar {
  list-style: none;
  padding-left: 0; }
  .account_left_bar li {
    margin-bottom: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: #b3b3b3; }
    .account_left_bar li:before {
      display: none; }
    .account_left_bar li.active a {
      color: #b32925; }
  .account_left_bar a {
    color: #989eae;
    text-decoration: none;
    text-transform: uppercase; }
    .account_left_bar a:hover {
      color: #b32925; }

.account-simpleedit .account_title h1 {
  display: block; }
.account-simpleedit .account_title h2 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: left;
  color: #3f3f3f;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 16px;
  margin: 0 0 30px; }
  .account-simpleedit .account_title h2:before {
    content: '';
    background-color: #eceded;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0; }

.account_title h2 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: left;
  color: #3f3f3f;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 16px;
  margin: 0 0 30px; }
  .account_title h2:before {
    content: '';
    background-color: #eceded;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0; }

.acount-content {
  padding: 30px;
  background-color: #fff; }

.checkout-simplecheckout .simple-content {
  background-color: transparent;
  padding: 0; }

.account-simpleedit h1 {
  display: none; }
.account-simpleedit .simpleregister-block-content {
  padding: 0px 0px 10px 0px;
  margin: 0px -15px 10px -15px;
  border-radius: 10px;
  background-color: transparent; }
  .account-simpleedit .simpleregister-block-content .row {
    margin: 0px; }
  .account-simpleedit .simpleregister-block-content .form-group {
    width: 50%;
    margin: 0px;
    float: left;
    margin-bottom: 15px; }
.account-simpleedit .buttons {
  padding: 0px;
  background-color: transparent; }
  .account-simpleedit .buttons .btn {
    line-height: 40px; }

.account-simpleedit .acount-content .simpleregister-block-content {
  margin: 0; }

.account-password #password_form {
  padding: 0px 0px 15px 0px;
  border-radius: 3px;
  background-color: transparent; }
.account-password .buttons {
  margin-top: 5px; }

.order_histor_list {
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 3px; }
  .order_histor_list .order_histor_item {
    display: table-row; }
    .order_histor_list .order_histor_item:not(:last-child) {
      border-bottom: 1px solid #e6e6e6; }
  .order_histor_list .history_block {
    display: table-cell;
    padding: 10px;
    border-right: 1px solid #ccc; }
    .order_histor_list .history_block:nth-child(1) {
      width: 60%; }
    .order_histor_list .history_block:nth-child(2) {
      width: 20%;
      vertical-align: middle;
      text-align: center; }
    .order_histor_list .history_block:nth-child(3) {
      width: 20%;
      vertical-align: middle;
      text-align: center;
      border-right: 0px; }
  .order_histor_list .wrapp_img {
    margin-right: 15px;
    float: left; }
  .order_histor_list .name {
    margin-bottom: 10px; }
    .order_histor_list .name a {
      font-size: 16px;
      font-weight: 600;
      color: #000000; }
      .order_histor_list .name a:hover {
        color: #f55314; }
  .order_histor_list .article {
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px; }
  .order_histor_list .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .order_histor_list .options .option_item {
      margin-right: 20px;
      font-size: 14px;
      color: #000000;
      margin-bottom: 8px; }
  .order_histor_list .price {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #f55314; }
  .order_histor_list .text_status {
    font-size: 12px;
    text-align: center;
    color: #000000; }
  .order_histor_list .status {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #f77f50;
    margin: 5px 0px; }
  .order_histor_list .date {
    font-size: 14px;
    text-align: center;
    color: #b3b3b3; }
  .order_histor_list .inside a {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #ccc; }
    .order_histor_list .inside a:hover {
      text-decoration: none;
      color: #f55314; }

.order_wrapp {
  background-color: white;
  border-radius: 3px; }
  .order_wrapp .top_panel {
    border-bottom: solid 1px #f0e7f1;
    margin-bottom: -1px;
    padding: 13px 15px 11px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .order_wrapp .top_panel .status {
      font-size: 14px;
      color: #000000; }
      .order_wrapp .top_panel .status span {
        font-size: 16px;
        font-weight: 600;
        color: #ccc; }
    .order_wrapp .top_panel .date {
      font-size: 14px;
      color: #b3b3b3; }
  .order_wrapp .products .pr_item {
    border-bottom: solid 1px #f0e7f1;
    margin-bottom: -1px;
    padding: 15px 15px 20px 15px;
    overflow: hidden; }
  .order_wrapp .products .wrapp_img {
    margin-right: 15px;
    float: left; }
  .order_wrapp .products .name {
    margin-bottom: 10px; }
    .order_wrapp .products .name a {
      font-size: 16px;
      font-weight: 600;
      color: #000000; }
      .order_wrapp .products .name a:hover {
        color: #ccc; }
  .order_wrapp .products .article {
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px; }
  .order_wrapp .products .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column; }
    .order_wrapp .products .options .option_item {
      margin-right: 20px;
      font-size: 14px;
      color: #000000;
      margin-bottom: 8px; }
  .order_wrapp .products .price {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .order_wrapp .total .total_item {
    border-bottom: solid 1px #f0e7f1;
    margin-bottom: -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px; }
    .order_wrapp .total .total_item:nth-child(1) {
      display: none; }
    .order_wrapp .total .total_item:nth-child(3) .title {
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      color: #000000; }
  .order_wrapp .total .title {
    font-size: 14px;
    text-align: left;
    color: #000000;
    padding: 0px 15px; }
  .order_wrapp .total .text {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #ccc;
    padding: 0px 15px; }
  .order_wrapp .customer_info {
    padding: 5px 0px; }
    .order_wrapp .customer_info .customer_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px; }
    .order_wrapp .customer_info .text1 {
      width: 200px;
      font-size: 14px;
      color: #b3b3b3; }
    .order_wrapp .customer_info .text2 {
      width: calc(100% - 200px);
      font-size: 14px;
      color: #000000; }

.account-simpleregister .simpleregister-block-content {
  padding: 0px;
  margin: 0px -15px; }
  .account-simpleregister .simpleregister-block-content .form-control {
    height: 50px; }
  .account-simpleregister .simpleregister-block-content .row {
    margin: 0px; }
.account-simpleregister .simple-content .buttons {
  background-color: transparent; }

.downloads_list {
  margin-bottom: 70px; }
  .downloads_list .download_thumb {
    margin-bottom: 30px; }
  .downloads_list .file_item {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
    height: 190px; }
    .downloads_list .file_item .file_flex {
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .downloads_list .file_item .file_flex .thumb {
        width: 75px; }
      .downloads_list .file_item .file_flex .name {
        font-family: ProximaNova;
        font-size: 18px;
        font-weight: bold;
        color: #4d4d4d;
        margin-left: 20px; }
    .downloads_list .file_item .download_link {
      height: 40px;
      border-radius: 3px;
      background-color: #61c0bf;
      font-family: ProximaNova;
      font-size: 14px;
      font-weight: 600;
      color: white;
      padding: 11px 25px;
      display: inline-block;
      text-decoration: none; }
      .downloads_list .file_item .download_link:active {
        -webkit-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
        -moz-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
        box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important; }

@media screen and (max-width: 767px) {
  .order_histor_list {
    display: block; }
    .order_histor_list .order_histor_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      border: 1px solid #ccc;
      margin-bottom: 25px; }
      .order_histor_list .order_histor_item:last-child {
        margin-bottom: 0; }
    .order_histor_list .history_block {
      display: block;
      margin-bottom: -1px; }
      .order_histor_list .history_block:nth-child(1) {
        width: 100%;
        margin-bottom: -1px;
        border-bottom: 1px solid #ccc;
        border-right: 0; }
      .order_histor_list .history_block:nth-child(2) {
        width: 50%; }
      .order_histor_list .history_block:nth-child(3) {
        width: 50%; }
        .order_histor_list .history_block:nth-child(3):before {
          /* для IE8+ */
          content: "";
          display: inline-block;
          min-height: inherit;
          height: 100%;
          vertical-align: middle; }
        .order_histor_list .history_block:nth-child(3) .inside {
          display: inline-block;
          vertical-align: middle; }

  .order_wrapp .products .price {
    clear: left;
    padding-top: 10px;
    font-size: 15px;
    overflow: hidden; }
  .order_wrapp .total .text {
    font-size: 15px;
    white-space: nowrap; }
  .order_wrapp .customer_info .customer_item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px 10px; }
  .order_wrapp .customer_info .text1 {
    width: auto; }
  .order_wrapp .customer_info .text2 {
    width: auto; } }
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-left: 0;
  border-right: 0; }

.table-bordered {
  border: 0; }

.compare__img {
  display: block;
  border: 0;
  border-radius: 0;
  margin: 0 auto 19px; }
.compare__name {
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000; }

.rating .reviews__rating {
  margin-bottom: 0;
  border-radius: 4px;
  background-color: #f5f6f7;
  padding: 18px 24px; }

.table-compare tr {
  border-bottom: 1px solid #eceded; }
  .table-compare tr td {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
    border: 0 !important;
    padding: 18px !important; }
    .table-compare tr td:nth-child(1) {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 30px;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3c3c3c; }
    .table-compare tr td div {
      min-height: 30px;
      margin-bottom: 15px;
      line-height: 30px; }
      .table-compare tr td div .fa-times {
        line-height: 30px; }

.wrapper-img-compare {
  position: relative; }

.green-compare {
  color: #56b33d; }

.price-old {
  text-decoration: line-through;
  font-size: 12px;
  color: #ccc; }

/*# sourceMappingURL=main_y.css.map */
