*{
  outline:0px!important;
  box-sizing: border-box;
}
*:focus,
*:active{
  outline: 0px!important;
  text-shadow: none;
  box-shadow: none!important;
}
a:hover{
  text-decoration: none;
}
a:focus{
  outline: 0px !important;
}
a:focus,
a:hover,
a:active{
  text-decoration: none;
}

h1{
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: left;
  color: #3f3f3f;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 16px;
  margin: 0 0 30px;
  &:before{
    content: '';
    background-color: #eceded;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.flex-row{
  display: flex;
  align-items: center;

}
.container_margin{
  margin-bottom: 12px;
}
.reviews{
  &__item{
    background-color: #ffffff;
    padding: 18px 17px;
    margin-bottom: 24px;
    .description-conteiner{
      padding: 20px 24px;
      a{
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.1px;
        text-align: left;
        color: #405395;
        margin-bottom: 14px;
        display: block;
      }
    }
  }
  &__image{
    background-color: transparent;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 12px;
    i{
      font-size: 40px;
    }
  }
  &__user{
    position: relative;
    &:before{
      content: '';
      background: url("/catalog/view/theme/default/image/line@2x.png");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;
      width: 7px;
      height: calc(100% + 36px);
      position: absolute;
      top: -18px;
      right: 0;
    }

  }
  &__username{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;

  }
  &__rating{
    margin-bottom: 30px;
    a{
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #d5d9dc;
      span{
        color: #56b33d;
      }
    }
    .fa-stack {
      width: 18px;
      height: 18px;
      line-height: 0;
      text-align: center;
      font-size: 18px;
      margin-right: 2.5px;
    }
    .fa{
      font-size: 18px;
      color: #d5d9dc;
      &.active{
        color:  #56b33d;
        i{
          color:  #56b33d;
        }
      }
    }
  }
  span{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #949494;
  }

  &__description{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
  }
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 18px 0 60px;
  background-color: transparent;
  padding: 17px 180px 0;
  position: relative;
  border-top: 1px solid #eceded;
  &>li{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
    line-height: 42px;
    padding-left: 0;
    border-radius: 21px;
    background-color: transparent;
    &:before{
      display: none;
    }
    a{
      border: 0;
      padding: 0;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.1px;
      color: #3c3c3c;
      display: block;
      width: 100%;
      height: 100%;
      line-height: 42px;
      text-align: center;
      border-radius: 21px;
      background-color: transparent;
      &:hover{
        border-radius: 21px;
        background-color: #3c3c3c;
        color: #fff!important;
      }
    }
    &.prev{
      position: absolute;
      left: 0;
      z-index: 2;
      width: auto;
      color: #3c3c3c;
      border-radius: 21px;
      background-color: transparent;
      border: solid 2px #3c3c3c;
      a{
        padding: 0 39px 0 37px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        text-align: center;
        color: #3c3c3c;
        line-height: 38px;
        background-color: transparent;
      }
      span{
        font-size: 10px;
        padding-right: 10px;
      }
      &:hover{
        background-color: #3c3c3c;
        color: #fff!important;
      }
    }
    &.last{
      position: absolute;
      right: 0;
      z-index: 2;
      width: auto;
      color: #3c3c3c;
      border-radius: 21px;
      background-color: transparent;
      border: solid 2px #3c3c3c;
      a{
        padding: 0 39px 0 37px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        text-align: center;
        color: #3c3c3c;
        line-height: 38px;
        background-color: transparent;
        white-space: nowrap;
      }
      span{
        font-size: 10px;
        padding-left: 10px;
      }
      &:hover{
        background-color: #3c3c3c;
        color: #fff!important;
      }
    }
    &.active{
      span{
        display: block;
        border-radius: 21px;
        background-color: #d5d9dc;
        border:0;
        padding: 0;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.1px;
        color: #3c3c3c;
        width: 100%;
        height: 100%;
        line-height: 42px;
        &:hover{
          border-radius: 21px;
          background-color: #3c3c3c;
          color: #fff!important;
        }
      }
    }
  }
}
.white-style-form{
  background-color: #ffffff;
  padding: 29px 26px;
  h2{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #3f3f3f;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 30px;
    &:before{
      content: '';
      background-color: #eceded;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .flex-row{
    align-items: flex-start;
  }
}
.control-label{
  min-width: 90px;
  margin-right: 15px;
  text-align: left!important;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #3c3c3c;
}
input.form-control{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dde1e5;
  height: 36px;
  box-shadow: none;
}
textarea.form-control{
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dde1e5;
  height: 96px;
  box-shadow: none;
  resize: none;
  margin-bottom: 15px;
}
.reviewStars-input input {
  display: none;
}
.c-center{
  button{
    margin: 0 auto;
  }
}
.c-form-style{
  margin-bottom: 60px;
}
.reviewStars-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
  padding-top: 7px;
  .c-rating {
    float: left;
    color: #ccc;
  }
  input {
    margin-right: 10px;
    &:checked ~ label,
    &:checked + label {
      .fa-star {
        &:before {
          color: #56b33d;

        }
      }
    }
    &:hover{
      & + label {
        .fa-star {
          &:before {
            color: #56b33d;

          }
        }
      }
      & ~ label {
        .fa-star {
          &:before {
            color: #56b33d;

          }
        }
      }
    }
  }
  label {
    position: relative;
    font-size: 18px;
    color:  #d9dbe1;
    padding: 0;
    cursor: pointer;
    margin: 0 2.5px;
    i{
      color:  #d9dbe1;
      font-size: 18px;
    }
  }
}
.btn-default,.btn-primary,.btn-danger{
  min-width: 164px;
  height: 42px;
  border-radius: 27px;
  background-color: #f65314;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff!important;
  background-image: none;
  box-shadow: none;
  border: 0;
  text-shadow: none;
  transition: all .3s ease;
  &:hover{
    background-color: #333!important;
    border: 0;
  }
}
.nav-tabs {
  border-bottom: 1px solid #eceded;
  margin-bottom: 30px;
  & > li{
    float: left;
    padding-right: 25px;
    padding-left: 0;
    &:before{
      display: none;
    }
    //margin-bottom: 0;
    & > a{
      transition: .3s;
      border: 0;
      padding: 10px 12px;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: 0.2px;
      text-align: left;
      color: #3c3c3c;
      position: relative;
      &:active,
      &:focus,
      &:hover{
        background-color: transparent;
        border: 0!important;
        color: #3c3c3c;
      }
    }
    &.active{
      & > a{
        border: 0!important;
        color: #3c3c3c;
        background-color: transparent;
        &:active,
        &:focus,
        &:hover{
          border: 0!important;
          color: #3c3c3c;
          background-color: transparent;
        }
        &:before{
          content: '';
          position: absolute;
          background-color: #9b221f;
          width: 100%;
          height: 3px;
          bottom: -1px;
          left: 0;
        }
      }
    }
  }
}
//.alert-danger{
//  color: #fff;
//  background-color:#b32925;
//  border: 0;
//  border-radius: 0;
//  padding: 17px 15px;
//}
.alert-danger{
  color: #b32925;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 10px 0;
}
.news-ncategory{
  .wrapper{
    background-color: #fff;
    .sing-right{
      background-image: none;
    }
  }
}
.article-content{
  margin-bottom: 60px;
  padding: 17px 18px;
  background-color: #fff;
  .с-news-images{
    margin-bottom: 30px;
  }
  .c-inform-text{
    p{
      background-color: transparent!important;
    }
  }
  h2{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: center;
    color: #3f3f3f;
    margin: 30px auto;
    width: -moz-max-content;
    display: block;
    width: max-content;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: -24px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      background-color: #3f3f3f;
    }
    &:after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      right: -23px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      background-color: #3f3f3f;
    }
  }
}
#simplepage_form{
  .form-horizontal{
    padding: 0 15px;
  }
}
.top-bar-container{
  position: relative;
}
.account-simpleregister{
  .simple-content{
    padding: 17px 18px;
    background-color: #fff;
    width: 50%;
    margin: 0 auto 60px;
    .simpleregister-have-account{
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3c3c3c;
      margin-bottom: 38px;
      a{
        color: #405395;
      }
    }
    .flex-row{
      align-items: flex-start;
    }

  }
  .radio{
    margin-bottom: 42px;
    label{
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: 0.2px;
      text-align: left;
      color: #3c3c3c;
      padding: 0 12px;
      position: relative;
      input{
        position: absolute;
        visibility: hidden;
      }
      .label-text{
        position: relative;
        &:before{
          content: '';
          position: absolute;
          background-color: #9b221f;
          width: calc(100% + 24px);
          height: 3px;
          left: -12px;
          display: none;
          bottom: -10px;
        }
      }
      input:checked + .label-text {
        &:before{
          display: block;
        }
      }
    }

  }
}
.simple-content{
  h4{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 30px;
    &:before{
      content: '';
      background-color: #eceded;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.form-horizontal .form-group {
  margin-left: 0;
}
.header-simle-mini{
  margin: 25px 0 0 0;
}
.well{
  padding: 17px 18px;
  background-color: #fff;
  border-radius: 0;
  border: 0;
  h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #3f3f3f;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 30px;
    &:before{
      content: '';
      background-color: #eceded;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
a{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #405395;
}
.simplecheckout-right-column,
.simplecheckout-left-column{
 background-color: #fff;
  padding: 29px 24px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #3f3f3f;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 30px;
    &:before{
      content: '';
      background-color: #eceded;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .simplecheckout-right-column,
  .simplecheckout-left-column{
    padding: 0;
  }
}
.form-checkbox{
  padding: 0!important;
}
.form-checkbox input[type="radio"],
.form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #ebecf0;
}
.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label {
  //font-weight: 600;
  color:  #333333;
}
.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label .mfilter-counter,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label .mfilter-col-count{
  color:  #333333;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}
.iScrollIndicator{
  background: rgb(255, 127, 80)!important;
}
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  //padding: 3px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #ebecf0;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}
.form-checkbox__marker:after {
  position: absolute;
  content: '';
  left: 15%;
  top: 18%;
  height: 40%;
  width: 60%;
  border-bottom: 2px solid #404969;
  border-left: 2px solid #404969;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.form-checkbox__label span,
.form-checkbox__label{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #3c3c3c;
}
.radio{
  .form-checkbox{
    &__marker{
      border-radius: 50%;
      &:after{
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #9b221f;
        opacity: 0;
        border: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translate(0,-50%);
        top: 50%;
      }
    }
  }
}
.simple_cart{
  .block-title{
    padding: 30px;
    background-color: #fff;
    border-bottom: 1px solid #ebecf0;
    h2{
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      color: #1a1a1a;
      margin: 0;
      text-transform: none;
    }
  }
  .simple_item{
    border-bottom: solid 1px #eceded;
    display: flex;
    align-items: flex-start;
    padding: 0 0 22px;
    position: relative;
    margin-bottom: 24px;
    .quantity,
    .pqt{
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
    .control_product_group{
      flex-direction: row;
    }
    .wrapper-grey{
      border-radius: 4px;
      background-color: #f5f6f7;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 11px 13px;
      span{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c;
      }
    }
    .quantity{
      border-radius: 4px;
      background-color: #f6f6fb;
      width: 68px;
      height: 36px;
      border: solid 1px #dde1e5;
      margin-left: 15px;
      overflow: hidden;
      input{
        background-color: #fff;
        border: 0;
        padding: 0;
        height: 100%;
        flex: 1;
        text-align: center;
        box-shadow: none;
      }
      button{
        height: 100%;
        background-color: #fff;
        padding: 0;
        border: 0;
        flex: 1;
        color: #3c3c3c;
      }
      .btn-plus{
        i{
          transform: rotate(90deg);
        }
      }
      .btn-minus{
        i{
          transform: rotate(90deg);
        }
      }
    }
    .price{
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.22;
      letter-spacing: 0.2px;
      text-align: left;
      color: #3c3c3c;
      span{
        display: block;
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #949494;
      }
    }
    .wrapp_cart_right{
      width: 100%;
      padding-left: 30px;
      .options{
        margin-bottom: 11px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c;

      }
      .name{
        margin-bottom: 20px;
        a{
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0.1px;
          text-align: left;
          color: #3c3c3c;
        }
      }
    }
    .remove_btn{
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 0;
      border: 0;
      padding: 0;
      //position: absolute;
      //top: 15px;
      //right: 7px;
      font-size: 21px;
      //color: #9fa4b4;
    }
  }
}
#total_shipping{
  display: none;
}
.simplecheckout-cart-coupon{
  padding: 15px 27px 29px;
  border-radius: 10px;
  background-color: #f5f6f7;
  margin-bottom: 27px;
  .simplecheckout-cart-total-value{
    margin: 0;
  }
  div{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
    margin-bottom: 15px;
  }
  input{
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #dde1e5;
    min-width:  312px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: left;
    color: #3c3c3c;
  }
}
.simplecheckout-cart-total{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 5px;
  span{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    color: #3c3c3c;
  }
  .simplecheckout-cart-total-value{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.2px;
    text-align: right;
    color: #3c3c3c;
    margin-left: 10px;
  }

}
#total_shipping{
  .simplecheckout-cart-total-value{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.2px;
    text-align: right;
    color: #3c3c3c;
  }
}
#total_coupon{
  margin-bottom: 25px;
  span{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    color: #7fbf5f;
  }
  .simplecheckout-cart-total-value{
    font-size: 18px;
    line-height: 1.22;
    color: #7fbf5f;
  }
}
#total_total{
  span{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.2px;
    text-align: right;
    color: #3c3c3c;
  }
  .simplecheckout-cart-total-value{
    font-size: 24px;
    line-height: 0.92;
  }
}
.simpleregister-button-block{
  .simpleregister-button-left{
    padding-left: 17px;
  }
}
.account_left_bar{
  list-style: none;
  padding-left: 0;
  li{
    &:before{
      display: none;
    }
    margin-bottom: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: #b3b3b3;
    &.active{
      a{
        color: #b32925;
      }
    }
  }
  a{
    color: #989eae;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      color: #b32925;
    }
  }
}
.account-simpleedit{
  .account_title{
    h1{
      display: block;
    }
    h2{
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2.4px;
      text-align: left;
      color: #3f3f3f;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 16px;
      margin: 0 0 30px;
      &:before{
        content: '';
        background-color: #eceded;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
.account_title{
  h2{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #3f3f3f;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 30px;
    &:before{
      content: '';
      background-color: #eceded;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.acount-content{
  padding: 30px;
  background-color: #fff;
}
.checkout-simplecheckout{
  .simple-content{
    background-color: transparent;
    padding: 0;
  }
}
.account-simpleedit{
  //.simple-content{
  //  margin: 0px;
  //}
  h1{
    display: none;
  }
  .simpleregister-block-content{
    padding: 0px 0px 10px 0px;
    margin: 0px -15px 10px -15px;
    border-radius: 10px;
    background-color: transparent;
    //.form-control{
    //  border-color: white;
    //  height: 50px;
    //  -webkit-appearance: none;
    //  -moz-appearance: none;
    //  appearance: none;
    //  box-shadow: none;
    //}
    .row{
      margin: 0px;
    }
    .form-group{
      width: 50%;
      margin: 0px;
      float: left;
      margin-bottom: 15px;
    }
  }
  .buttons{
    padding: 0px;
    background-color: transparent;
    .btn{
      line-height: 40px;
    }
  }
}
.account-simpleedit{
  .acount-content{
    .simpleregister-block-content{
      margin: 0;
    }
  }
}
.account-password{
  #password_form{
    padding: 0px 0px 15px 0px;
    border-radius: 3px;
    background-color: transparent;
    //input{
    //  border-color: white;
    //  height: 50px;
    //}
  }
  .buttons{
    margin-top: 5px;
  }
}


.order_histor_list{
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 3px;
  .order_histor_item{
    display: table-row;
    &:not(:last-child){
      border-bottom: 1px solid #e6e6e6;
    }
  }
  .history_block{
    display: table-cell;
    padding: 10px;
    border-right: 1px solid #ccc;
    &:nth-child(1){
      width: 60%;
    }
    &:nth-child(2){
      width: 20%;
      vertical-align: middle;
      text-align: center;
    }
    &:nth-child(3){
      width: 20%;
      vertical-align: middle;
      text-align: center;
      border-right: 0px;
    }
  }
  .wrapp_img{
    margin-right: 15px;
    float: left;
    img{}
  }
  .name{
    margin-bottom: 10px;
    a{
      font-size: 16px;
      font-weight: 600;
      color: #000000;
      &:hover{
        color: #f55314;
      }
    }
  }
  .article{
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px;
  }
  .options{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .option_item{
      margin-right: 20px;
      font-size: 14px;
      color: #000000;
      margin-bottom: 8px;
    }
  }
  .price{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #f55314;
  }
  .text_status{
    font-size: 12px;
    text-align: center;
    color: #000000;
  }
  .status{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #f77f50;
    margin: 5px 0px;
  }
  .date{
    font-size: 14px;
    text-align: center;
    color: #b3b3b3;
  }
  .inside{
    a{
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: #ccc;
      &:hover{
        text-decoration: none;
        color: #f55314;
      }
    }
  }
}


.order_wrapp{
  background-color: white;
  border-radius: 3px;
  .top_panel{
    border-bottom: solid 1px #f0e7f1;
    margin-bottom: -1px;
    padding: 13px 15px 11px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .status{
      font-size: 14px;
      color: #000000;
      span{
        font-size: 16px;
        font-weight: 600;
        color: #ccc;
      }
    }
    .date{
      font-size: 14px;
      color: #b3b3b3;
    }
  }
  .products{
    .pr_item{
      border-bottom: solid 1px #f0e7f1;
      margin-bottom: -1px;
      padding: 15px 15px 20px 15px;
      overflow: hidden;
    }
    .wrapp_img{
      margin-right: 15px;
      float: left;
      img{}
    }
    .name{
      margin-bottom: 10px;
      a{
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        &:hover{
          color:#ccc;
        }
      }
    }
    .article{
      font-size: 12px;
      color: #999999;
      margin-bottom: 10px;
    }
    .options{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      flex-direction: column;
      .option_item{
        margin-right: 20px;
        font-size: 14px;
        color: #000000;
        margin-bottom: 8px;
      }
    }
    .price{
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      color: #ccc;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
  .total{
    .total_item{
      border-bottom: solid 1px #f0e7f1;
      margin-bottom: -1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px 0px;
      &:nth-child(1){
        display: none;
      }
      &:nth-child(3){
        .title{
          font-size: 16px;
          font-weight: 600;
          text-align: left;
          color: #000000;
        }
      }
    }
    .title{
      font-size: 14px;
      text-align: left;
      color: #000000;
      padding: 0px 15px;
    }
    .text{
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      color: #ccc;
      padding: 0px 15px;
    }
  }
  .customer_info{
    padding: 5px 0px;
    .customer_item{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px;
    }
    .text1{
      width:200px;
      font-size: 14px;
      color: #b3b3b3;
    }
    .text2{
      width: calc(100% - 200px);
      font-size: 14px;
      color: #000000;
    }
  }
}
.account-simpleregister{
  .simpleregister-block-content{
    padding: 0px;
    margin: 0px -15px;
    .form-control{
      height: 50px;
    }
    .row{
      margin: 0px;
    }
  }
  .simple-content{
    //margin: 0px;
    .buttons{
      background-color: transparent;
    }
  }
}
.downloads_list{
  margin-bottom: 70px;
  .download_thumb{
    margin-bottom: 30px;
  }
  .file_item{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
    height: 190px;
    .file_flex{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .thumb{
        width: 75px;
      }
      .name{
        font-family: ProximaNova;
        font-size: 18px;
        font-weight: bold;
        color: #4d4d4d;
        margin-left: 20px;

      }
    }
    .download_link{
      height: 40px;
      border-radius: 3px;
      background-color: #61c0bf;
      font-family: ProximaNova;
      font-size: 14px;
      font-weight: 600;
      color: white;
      padding: 11px 25px;
      display: inline-block;
      text-decoration: none;
      &:active{
        -webkit-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
        -moz-box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
        box-shadow: inset 0px 2px 6px -1px rgba(47, 47, 47, 0.75) !important;
      }
      &:focus{}
      &:hover{
      }
    }
  }
}


@media screen and(max-width: 767px){
  .order_histor_list {
    display: block;
    .order_histor_item{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      border: 1px solid #ccc;
      margin-bottom: 25px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .history_block{
      display: block;
      margin-bottom: -1px;
      &:nth-child(1){
        width: 100%;
        margin-bottom: -1px;
        border-bottom: 1px solid #ccc;
        border-right: 0;
      }
      &:nth-child(2){
        width: 50%;
      }
      &:nth-child(3){
        width: 50%;
        &:before { /* для IE8+ */
          content: "";
          display: inline-block;
          min-height: inherit;
          height: 100%;
          vertical-align: middle;
        }
        .inside{
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .order_wrapp {
    .products {
      .price{
        clear: left;
        padding-top: 10px;
        font-size: 15px;
        overflow: hidden;
      }
    }
    .total {
      .text{
        font-size: 15px;
        white-space: nowrap;
      }
    }
    .customer_info {
      .customer_item{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 5px 10px;
      }
      .text1{
        width: auto;
      }
      .text2{
        width: auto;
      }
    }
  }
}
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th{
  border-left: 0;
  border-right: 0;
}
.table-bordered{
  border: 0;
}
.compare{
  &__img{
    display: block;
    border: 0;
    border-radius: 0;
    margin: 0 auto 19px;
  }
  &__name{
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
  }
}
.rating{
  .reviews{
    &__rating{
      margin-bottom: 0;
      border-radius: 4px;
      background-color: #f5f6f7;
      padding: 18px 24px;
    }
  }
}
.table-compare{
  tr{
    border-bottom: 1px solid #eceded;
    td{
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 30px;
      letter-spacing: 0.1px;
      text-align: left;
      color: #3c3c3c;
      border: 0!important;
      padding: 18px!important;
      &:nth-child(1){
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3c3c3c;
      }
      div{
        min-height: 30px;
        margin-bottom: 15px;
        line-height: 30px;
        .fa-times{
          line-height: 30px;
        }
      }
    }
  }
}
.wrapper-img-compare{
  position: relative;
}
.green-compare{
  color: #56b33d;
}
.price-old{
  text-decoration: line-through;
  font-size: 12px;
  color:#ccc;
}