<span style='color: #000'>131 frames</span>	<span style='color: #900'>11,264 KB</span>	<span style='color: #090'>91.97 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />