@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xdbkz6');
  src:  url('fonts/icomoon.eot?xdbkz6#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?xdbkz6') format('truetype'),
        url('fonts/icomoon.woff?xdbkz6') format('woff'),
        url('fonts/icomoon.svg?xdbkz6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-comparison:before {
  content: "\e901";
}
.icon-fb:before {
  content: "\e902";
  color: #fff;
  font-size: 20px;
}
.icon-insta:before {
  content: "\e903";
  color: #fff;
  font-size: 16px;
}
.icon-phone:before {
  content: "\e904";
  color: #fff;
  font-size: 16px;
}
.icon-yt:before {
  content: "\e905";
  color: #fff;
  font-size: 21px;
}
.icon-account:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-arrow:before {
  content: "\e908";
}
.icon-arrow-up:before {
  content: "\e909";
  color: #D5D9DC;
  font-size: 24px;
}
.icon-book:before {
  content: "\e90a";
  color: #b32925;
}